 <!-- Form -->
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => "form-horizontal",:id => "contact_form"}) do |f| %>
    <%= devise_error_messages! %>

    <h2>

    <% if params[:studnet].to_i == 2 %>
         Registrarte como estudiante o egresado
   
  <% elsif params[:studnet].to_i == 3 %>

         Registrarte como empresa / persona
     
  <% elsif params[:studnet].to_i == 4 %>
    
         Registrarte como empresa / persona
   
  <% end %>
</h2>
    <% if current_page?(new_user_registration_path(studnet: 3)) || current_page?(new_user_registration_path(studnet: 4)) %>
      

        <div class="form-group"> 
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-check"></i></span>
              <select id="roleID" name="user[role_id]" class="form-control selectpicker">
                <option value=3>
                            Empresa
                          </option>
                          <option value=4>
                            Persona
                          </option>
              </select>
          </div>
        </div>
  
    <% end %>

    <div class="form-group">
      <div class="input-group">
         <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
         <%= f.email_field :email, class: 'form-control',placeholder: "correo electrónico" %>
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      <%= f.password_field :password, autocomplete: 'off', placeholder: 'Contraseña', class: 'form-control' %>
     </div>
    </div>


    <!-- ./User Information -->

    <!-- Student Information -->
    <% if params[:studnet].to_i == 2 %>
   <%= f.fields_for :student, resource.build_student do |s| %>  
   <div id="deviseCompanySignUp">
      <div class="form-group"> 
       
       
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-education"></i></span>
              <%= s.select :university_id, University.all.map { |u| [u.university_name, u.id] }, { prompt: 'Universidad' }, class: 'form-control selectpicker' %>
         </div>

      </div>
        
      <div class="form-group"> 
        
          
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-book"></i></span>
              <%= s.select :major_id, Major.all.map { |m| [m.major_name, m.id] }, { prompt: 'Carrera' }, class: 'form-control selectpicker' %>
          </div>

      </div>
      </div>   
 <% end %>

 <% end %>

 <div class="form-group">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
  <%= f.fields_for :company, resource.build_company do |c| %>
          
    <%= c.text_field :company_name, class: 'form-control',placeholder: "Nombre de la empresa" %>
           
      <% end %>

</div>
</div>


    <!-- ./Company Information -->

    <!-- Person Information -->
    <% if params[:studnet].to_i == 4 %>
    <% end %>

    <div id="devisePersonSignUp">
      <%= f.fields_for :person, resource.build_person do |p| %>
       <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <%=  p.text_field :occupation, class: 'form-control',placeholder: "Ocupación" %>
        </div>
     </div>
      <% end %>
    </div>
    <!-- ./Person Information -->

    <% if params[:studnet].to_i != 2 %>
     <div class="form-group">
      <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
          <%=  f.text_field :mobile_phone, class: 'form-control',placeholder: "Teléfono de contacto" %>
      </div>
     </div>
    <% end %>
    
    <div class="form-group">
 
   
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
  <input name="contact_no" placeholder="Codigo (opcional)" class="form-control" type="text">
    </div>
</div>

<!-- Select Basic -->

<!-- Success message -->


<!-- Button -->
<div class="form-group">
  <div class="col-md-12 text-center">
   <%= f.submit 'Registrarme', class: 'btn btnregister' %>
  </div>
</div>
  <%= f.hidden_field(:role_id, value: params[:studnet].to_i) %>
<% end %>

<div class="dottedborder"></div>


  <div class="col-md-12 text-center">
   <a href="#" class="btn-link fbbtn">Registrarme Con Facebook</a>
 </div>

<div class="col-md-12 text-center marbot15px">
   Ya estas registrado?
    <% if current_page?(new_user_registration_path(studnet: 2)) %>
        <%= link_to 'aquí', new_session_path(resource_name, studnet: 2),class: "btn-link" %><br />
    <% elsif current_page?(new_user_registration_path(studnet: 3)) %>
        <%= link_to 'aquí', new_session_path(resource_name, studnet: 3),class: "btn-link" %><br />
    <% elsif current_page?(new_user_registration_path(studnet: 4)) %>
        <%= link_to 'aquí', new_session_path(resource_name, studnet: 4),class: "btn-link" %><br />
    <% end %>
  </div>
<div class="col-md-12 text-center graytext font11px">
Al registrarte confirmas que has leido y aceptas nuestros<br/>

<%= link_to 'Términos y Condiciones', 'http://www.studnet.com.co/terminos', target: '_blank' %>
 y <%= link_to 'Política de Privacidad', 'http://www.studnet.com.co/privacidad', target: '_blank' %>
</div>


 
<!-- /.container -->

<script type="text/javascript">

    //=======================
    // Display/Hide options
    //=======================

    $(function() {
        // Variables
        var select_value = [];

        var current_params_role_id_val = <%= params[:studnet].to_i %>;

        // Function to display company additional information
        if ( current_params_role_id_val == 2 ) {
            $('.devise-student-info').show();
            $('.devise-company-info').hide();
            $('.devise-person-info').hide();
        } else if ( current_params_role_id_val == 3 ) {
            $('.devise-student-info').hide();
            $('.devise-company-info').show();
            $('.devise-person-info').hide();
        } else if ( current_params_role_id_val == 4 ) {
            $('.devise-student-info').hide();
            $('.devise-company-info').hide();
            $('.devise-person-info').show();
        }

        function displayCompanyAdditionalInfo() {
            $('#roleID').change(function(){
                if ( $('#roleID').val() == 3 ) {
                    $('#deviseCompanySignUp').show();
                } else {
                    $('#deviseCompanySignUp').hide();
                }

                // This part of the function is used to pass the hidden value depending on the option selected in the roleID dropdown
                select_value =  $('#roleID').val();
                roleID_value =  $('#user_role_id').attr('value', select_value);

            });

            $('#roleID').val();
        }

        // Function to display person additional information
        if ( current_params_role_id_val == 4 ) {
            $('#devisePersonSignUp').show();
            $("#roleID option[value='4']").prop('selected', true);
        } else {
            $('#devisePersonSignUp').hide();
        }


        function displayPersonAdditionalInfo() {
            $('#roleID').change(function(){
                if ( $('#roleID').val() == 4 ) {
                    $('#devisePersonSignUp').show();
                } else {
                    $('#devisePersonSignUp').hide();
                }

                // This part of the function is used to pass the hidden value depending on the option selected in the roleID dropdown
                select_value =  $('#roleID').val();
                roleID_value =  $('#user_role_id').attr('value', select_value);

            });

            $('#roleID').val();

        }

        // Calling Functions
        displayCompanyAdditionalInfo();
        displayPersonAdditionalInfo();

        // Student
        $('#user_student_attributes_university_id').select2({
            theme: "bootstrap"
        });
        $('#user_student_attributes_major_id').select2({
            theme: "bootstrap"
        });
        $('#roleID').select2({
            theme: "bootstrap"
        });

        $('[data-toggle="tooltip"]').tooltip()
    });
</script>
