<!-- Form -->
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <% if current_page?(new_user_registration_path(studnet: 3)) || current_page?(new_user_registration_path(studnet: 4)) %>
        <div class="form-group">
          <div class="row">
            <div class="col-md-4 text-right">
              <%= f.label :role_id, 'Selecciona el tipo de cuenta' %><br />
            </div>
            <div class="col-md-8">
              <select id="roleID" name="user[role_id]" class="form-control input-width">
                <option value=3>
                  Empresa
                </option>
                <option value=4>
                  Persona
                </option>
              </select>
            </div>
          </div>
        </div>
    <% end %>

    <!-- User Information -->
    <div class="form-group">
      <div class="row">
        <div class="col-md-4 text-right">
          <%= f.label :email, 'Correo electrónico' %>
        </div>
        <div class="col-md-8">
          <%= f.email_field :email, class: 'form-control input-width' %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-4 text-right">
          <%= f.label :password, 'Contraseña' %>
        </div>
        <div class="col-md-8">
          <%= f.password_field :password, autocomplete: 'off', placeholder: 'mínimo 6 caracteres', class: 'form-control input-width' %>
        </div>
      </div>
    </div>
    <!-- ./User Information -->

    <!-- Student Information -->
    <% if params[:studnet].to_i == 2 %>
        <div class="form-group devise-student-info" id="deviseCompanySignUp">
          <%= f.fields_for :student, resource.build_student do |s| %>
              <div class="row margin-bottom-20">
                <div class="col-md-4 text-right">
                  <%= s.label :university_id, 'Universidad' %>
                </div>
                <div class="col-md-8">
                  <%= s.select :university_id, University.all.map { |u| [u.university_name, u.id] }, { prompt: 'Por favor selecciona una opción' }, class: 'form-control input-width devie-control-margin-bot' %>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4 text-right">
                  <%= s.label :major_id, 'Carrera'  %>
                </div>
                <div class="col-md-8">
                  <%= s.select :major_id, Major.all.map { |m| [m.major_name, m.id] }, { prompt: 'Por favor selecciona una opción' }, class: 'form-control input-width' %>
                </div>
              </div>
          <% end %>
        </div>
    <% end %>
    <!-- ./Student Information -->

    <!-- Company Information -->
    <% if params[:studnet].to_i == 3 %>
    <% end %>

    <div class="form-group devise-company-info" id="deviseCompanySignUp">
      <%= f.fields_for :company, resource.build_company do |c| %>
          <div class="row">
            <div class="col-md-4 text-right">
              <%= c.label :company_name, 'Nombre de la empresa'  %>
            </div>
            <div class="col-md-8">
              <%= c.text_field :company_name, class: 'form-control input-width' %>
            </div>
          </div>
      <% end %>
    </div>
    <!-- ./Company Information -->

    <!-- Person Information -->
    <% if params[:studnet].to_i == 4 %>
    <% end %>

    <div class="form-group devise-person-info" id="devisePersonSignUp">
      <%= f.fields_for :person, resource.build_person do |p| %>
          <div class="row">
            <div class="col-md-4 text-right">
              <%= p.label :occupation, 'Ocupación'  %>
            </div>
            <div class="col-md-8">
              <%= p.text_field :occupation, class: 'form-control input-width' %>
            </div>
          </div>
      <% end %>
    </div>
    <!-- ./Person Information -->

    <div class="row">
      <div class="col-md-8 col-md-offset-4 text-center terms-conditions">
        <p>
          Al registrarte confirmas que has leído y aceptas nuestros
        </p>
        <p>
          <%= link_to 'Términos y Condiciones', 'http://www.studnet.com.co/terminos', target: '_blank' %>
          y
          <%= link_to 'Política de Privacidad', 'http://www.studnet.com.co/privacidad', target: '_blank' %>
        </p>
      </div>
    </div>

    <div class="actions text-center">
      <div class="row">
        <div class="col-md-8 col-md-offset-4">
          <%= f.submit 'Registrarme', class: 'btn btn-primary btn-studnet-basic' %>
        </div>
      </div>
    </div>

    <%= f.hidden_field(:role_id, value: params[:studnet].to_i) %>
<% end %>

<div class="text-right devise-shared-links">
  <p>
    ¿Ya estás registrado? Puedes ingresar
    <% if current_page?(new_user_registration_path(studnet: 2)) %>
        <%= link_to 'aquí', new_session_path(resource_name, studnet: 2) %><br />
    <% elsif current_page?(new_user_registration_path(studnet: 3)) %>
        <%= link_to 'aquí', new_session_path(resource_name, studnet: 3) %><br />
    <% elsif current_page?(new_user_registration_path(studnet: 4)) %>
        <%= link_to 'aquí', new_session_path(resource_name, studnet: 4) %><br />
    <% end %>

  </p>
</div>

<script type="text/javascript">

  //=======================
  // Display/Hide options
  //=======================

  $(function() {
    // Variables
    var select_value = [];

    var current_params_role_id_val = <%= params[:studnet].to_i %>;

    // Function to display company additional information
    if ( current_params_role_id_val == 2 ) {
      $('.devise-student-info').show();
      $('.devise-company-info').hide();
      $('.devise-person-info').hide();
    } else if ( current_params_role_id_val == 3 ) {
      $('.devise-student-info').hide();
      $('.devise-company-info').show();
      $('.devise-person-info').hide();
    } else if ( current_params_role_id_val == 4 ) {
      $('.devise-student-info').hide();
      $('.devise-company-info').hide();
      $('.devise-person-info').show();
    }

    function displayCompanyAdditionalInfo() {
      $('#roleID').change(function(){
        if ( $('#roleID').val() == 3 ) {
          $('#deviseCompanySignUp').show();
        } else {
          $('#deviseCompanySignUp').hide();
        }

        // This part of the function is used to pass the hidden value depending on the option selected in the roleID dropdown
        select_value =  $('#roleID').val();
        roleID_value =  $('#user_role_id').attr('value', select_value);

      });

      $('#roleID').val();
    }

    // Function to display person additional information
    if ( current_params_role_id_val == 4 ) {
      $('#devisePersonSignUp').show();
      $("#roleID option[value='4']").prop('selected', true);
    } else {
      $('#devisePersonSignUp').hide();
    }


    function displayPersonAdditionalInfo() {
      $('#roleID').change(function(){
        if ( $('#roleID').val() == 4 ) {
          $('#devisePersonSignUp').show();
        } else {
          $('#devisePersonSignUp').hide();
        }

        // This part of the function is used to pass the hidden value depending on the option selected in the roleID dropdown
        select_value =  $('#roleID').val();
        roleID_value =  $('#user_role_id').attr('value', select_value);

      });

      $('#roleID').val();

    }

    // Calling Functions
    displayCompanyAdditionalInfo();
    displayPersonAdditionalInfo();

    // Student
    $('#user_student_attributes_university_id').select2({
      theme: "bootstrap"
    });
    $('#user_student_attributes_major_id').select2({
      theme: "bootstrap"
    });
    $('#roleID').select2({
      theme: "bootstrap"
    });
  });
</script>