<section class="devise-wrapper">


  <!-- Sign Up Account Type Selection -->
  <% if current_page?(new_user_registration_path(studnet: 2)) || current_page?(new_user_registration_path(studnet: 3)) || current_page?(new_user_registration_path(studnet: 4)) %>
  <% else %>
      <div class="container sign-up-select-account text-center">

        <div class="row">
          <div class="col-md-12 text-center">
            <h1>
              ¿Quieres ser parte de nuestra red?
            </h1>
            <h3>
              ¡Es muy fácil! Simplemente debes hacer click sobre las imágenes a continuación y completar los datos para registrarte gratis.
            </h3>
          </div>
        </div>

        <div class="row margin-top-20">
          <!-- Sign Up Student SignUp -->
          <div class="col-md-4">
            <div class="sign-up-select-account-students"></div>
            <h4>
              Estudiantes
            </h4>

            <p>
              <%= link_to 'Registrarse', new_user_registration_path(studnet: 2), class: 'btn btn-primary btn-studnet-basic' %>
            </p>
          </div>
          <!-- ./Sign Up Student SignUp -->

          <!-- Sign Up Company SignUp -->
          <div class="col-md-4">
            <div class="sign-up-select-account-companies"></div>
            <h4>
              Empresas
            </h4>

            <p>
              <%= link_to 'Registrarse', new_user_registration_path(studnet: 3), class: 'btn btn-primary btn-studnet-basic' %>
            </p>
          </div>
          <!-- ./Sign Up Company SignUp -->

          <!-- Sign Up Person SignUp -->
          <div class="col-md-4">
            <div class="sign-up-select-account-people"></div>
            <h4>
              Personas
            </h4>

            <p>
              <%= link_to 'Registrarse', new_user_registration_path(studnet: 4), class: 'btn btn-primary btn-studnet-basic' %>
            </p>
          </div>
          <!-- ./Sign Up Person SignUp -->
        </div>

      </div>
  <% end %>
  <!-- ./Sign Up Account Type Selection -->

  <!-- Sign Up Form -->
  <% if params[:studnet].to_i == 2 %>
      <div class="devise-signup-wrapper students-signup-wrapper">
        <div class="container">

          <div class="row">

            <div class="col-md-8">
              <h1>
                ¿Quieres ganar dinero, experiencia y contactos trabajando mientras estudias?
              </h1>
              <h2>
                Regístrate ahora y aplica a los proyectos, prácticas y trabajos que más te gusten. ¡Es gratis!
              </h2>

              <div class="devise-signup-content">
                <h4>
                  Trabajos Simples
                </h4>
                <p>
                  Trabaja en labores simples como traducciones, resúmenes y <br>
                  corrección de documentos
                </p>

                <h4>
                  Proyectos Virtuales
                </h4>
                <p>
                  Trabaja en proyectos como diseño de páginas web, diseño de <br>
                  logos y análisis financieros
                </p>

                <h4>
                  Proyectos Presenciales
                </h4>
                <p>
                  Trabaja con empresas y profesionales en el desarrollo de <br>
                  proyectos temporales
                </p>

                <h4>
                  Prácticas
                </h4>
                <p>
                  Trabaja de forma presencial haciendo prácticas en empresas de <br>
                  diversos sectores y tamaños
                </p>
              </div>

            </div>

            <div class="col-md-4 text-center register-form">
              <%= render 'devise/registrations/form' %>
            </div>
          </div>

        </div>
      </div>
  <% elsif params[:studnet].to_i == 3 %>
      <div class="devise-signup-wrapper companies-signup-wrapper">
        <div class="container">

          <div class="row">

            <div class="col-md-8">
              <h1>
                ¿Tu empresa necesita estudiantes universitarios o recién egresados?
              </h1>
              <h2>
                Regístrate ahora para acceder a miles de estudiantes de diferentes universidades y carreras. ¡Es gratis!
              </h2>

              <div class="devise-signup-content">
                <h4>
                  Trabajos Simples
                </h4>
                <p>
                  ¿Tienes una labor simple por hacer como traducciones, resúmenes y correción de <br>
                  documentos? ¡Apóyate en un estudiante y completa esta labor!
                </p>

                <h4>
                  Proyectos Virtuales
                </h4>
                <p>
                  ¿Necesitas apoyo en tus próximos proyectos como diseño de páginas web, diseño de <br>
                  logos y análisis financieros? ¡Haz más eficiente tu trabajo incluyendo a un estudiante!
                </p>

                <h4>
                  Proyectos Presenciales
                </h4>
                <p>
                  ¿Más proyectos de los previstos? ¡Contrata un estudiante de forma presencial y <br>
                  flexible para el desarrollo de proyectos temporales y fortalece tu equipo!
                </p>

                <h4>
                  Prácticas
                </h4>
                <p>
                  ¿Tienes labores permanentes que podrían agregarle experiencia <br>
                  laboral a un estudiante? ¡Contrátalo para su práctica empresarial!
                </p>
              </div>

            </div>

            <div class="col-md-4 text-center register-form">
              <%= render 'devise/registrations/form' %>
            </div>
          </div>

        </div>
      </div>
  <% elsif params[:studnet].to_i == 4 %>
      <div class="devise-signup-wrapper people-signup-wrapper">
        <div class="container">

          <div class="row">

            <div class="col-md-8">
              <h1>
                ¿Necesitas apoyo de un estudiante universitario en tus proyectos y trabajos?
              </h1>
              <h2>
                Regístrate ahora y encuentra miles de estudiantes para realizar traducciones, presentaciones, diseños, trabajos web y muchos más. ¡Es gratis!
              </h2>

              <div class="devise-signup-content">
                <h4>
                  Trabajos Simples
                </h4>
                <p>
                  ¿Tienes una labor simple por hacer como traducciones, resúmenes y correción de <br>
                  documentos? ¡Apóyate en un estudiante y completa esta labor!
                </p>

                <h4>
                  Proyectos Virtuales
                </h4>
                <p>
                  ¿Necesitas apoyo en tus próximos proyectos como diseño de páginas web, diseño de <br>
                  logos y análisis financieros? ¡Haz más eficiente tu trabajo incluyendo a un estudiante!
                </p>

                <h4>

                  Proyectos Presenciales
                </h4>
                <p>
                  ¿Más proyectos de los previstos? ¡Contrata un estudiante de forma presencial y <br>
                  flexible para el desarrollo de proyectos temporales y fortalece tu equipo!
                </p>

              </div>

            </div>

            <div class="col-md-4 text-center register-form">
              <%= render 'devise/registrations/form' %>
            </div>
          </div>

        </div>
      </div>
  <% end %>
  <!-- ./Sign Up Form -->

  <!-- What is studNet? -->
  <% if current_page?(new_user_registration_path(studnet: 2)) || current_page?(new_user_registration_path(studnet: 3)) || current_page?(new_user_registration_path(studnet: 4)) %>
      <div class="container">
        <div class="row">

          <div class="col-md-6 registration-whats-studnet">
            <h4>
              ¿Qué es studNet?
            </h4>

            <p>
              <span id="studnet-gray-logo">stud</span><span id="studnet-blue-logo">N</span><span id="studnet-gray-logo">et®</span>
              es la plataforma que permite a estudiantes universitarios de cualquier universidad o carrera contactarse con empresas y profesionales para el desarrollo de tareas, proyectos y prácticas
            </p>
          </div>

          <div class="col-md-6">

          </div>

        </div>
      </div>
  <% else %>

  <% end %>
  <!-- ./What is studNet? -->

</section>

<script>
  // Functions to show/hide form in the content depending on the type of account (role) selected.
  /*
   $(function() {

   select_value = [];

   $('.devise-student-info').show();
   $('.devise-company-info').hide();
   $('.devise-person-info').hide();

   function displayFormContent() {
   $('#roleID').change(function(){
   if ( $('#roleID').val() == 2 ) {
   $('.devise-student-info').show();
   $('.devise-company-info').hide();
   $('.devise-person-info').hide();
   } else if ( $('#roleID').val() == 3 ) {
   $('.devise-student-info').hide();
   $('.devise-company-info').show();
   $('.devise-person-info').hide();
   } else if ( $('#roleID').val() == 4 ) {
   $('.devise-student-info').hide();
   $('.devise-company-info').hide();
   $('.devise-person-info').show();
   }

   // This part of the function is used to pass the hidden value depending on the option selected in the roleID dropdown
   select_value =  $('#roleID').val();
   roleID_value =  $('#user_role_id').attr('value', select_value);

   });

   $('#roleID').val();

   }

   displayFormContent();

   });
   */
</script>