<%= form_for(@person) do |f| %>
    <%= render 'shared/error_messages', object: @person %>

    <div class="field">
      <%= f.label :occupation %><br>
      <%= f.text_field :occupation %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
