<h1>Listing People</h1>

<table class="table">
  <thead>
    <tr>
      <th>User ID</th>
      <th>User Email</th>
      <th>Occupation</th>
      <th>Role ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.user.email %></td>
        <td><%= person.user.id %></td>
        <td><%= person.occupation %></td>
        <td><%= person.user.role_id %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
