 <section class="devise-wrapper">
  <div class="people-signup-header margin-bot-40">

  
  </div>
</section>

<section class="studNet-wrapper student-tab-wrapper padding-bot-40">
  <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-offset-1 student-tab-content person-tab-content"  style="margin-top: 45px;">

        <div class="row">
          <!-- Person Info -->
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <h3>
                  Información de la persona
                </h3>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">

                <table class="table studNet-table">
                  <tbody>
                  <tr>
                    <td>
                      Nombre:
                    </td>
                    <td>
                      <%= "#{@person.user.first_name} #{@person.user.last_name}" %>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Ocupación:
                    </td>
                    <td>
                      <%= @person.occupation %>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Profesión:
                    </td>
                    <td>
                      <%= @person.profession %>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Documento de identidad:
                    </td>
                    <td>
                      <%= @person.user.document_number %>
                    </td>
                  </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
          <!-- ./Person Info -->

          <!-- Contact Info -->
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <h3>
                  Datos de contacto
                </h3>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">

                <table class="table studNet-table">
                  <tbody>
                  <tr>
                    <td>
                      Email de tu cuenta:
                    </td>
                    <td>
                      <%= @person.user.email %>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Teléfono de tu cuenta:
                    </td>
                    <td>
                      <%= @person.user.mobile_phone %>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      País:
                    </td>
                    <td>
                      <% unless @person.user.country_id.nil? %>
                          <%= @person.user.country.country_name %>
                      <% end %>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Ciudad:
                    </td>
                    <td>
                      <% unless @person.user.city_id.nil? %>
                          <%= @person.user.city.city_name %>
                      <% end %>
                    </td>
                  </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
          <!-- ./Contact Info -->
        </div>
      </div>
    </div>

    <% if user_signed_in? %>
        <!-- Actions -->
        <div class="row">
          <div class="col-md-12 student-actions-wrapper text-center">
            <%= link_to 'Editar perfil', edit_user_path(current_user.id), class: 'btn btn-primary btn-studnet-basic' %>
            <%= link_to 'Crear oferta', new_opportunity_path, class: 'btn btn-primary btn-studnet-basic' %>
          </div>
        </div>
        <!-- ./Actions-->
    <% end %>

  </div>
</section>