 <div class="devise-shared-links">
  <%- if controller_name != 'sessions' %>
      <%#= link_to 'iniciar sesión', new_session_path(resource_name) %><br />
  <% end -%>

  <strong>

    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <% if params[:studnet].eql? '2' %>
            <%= link_to '¿Aún no estás registrado?', new_registration_path(resource_name, studnet: 2) %><br />
        <% elsif params[:studnet].eql? '3' %>
            <%= link_to '¿Aún no estás registrado?', new_registration_path(resource_name, studnet: 3) %><br />
        <% else params[:studnet].eql? '4' %>
            <%= link_to '¿Aún no estás registrado?', new_registration_path(resource_name, studnet: 4) %><br />
        <% end %>
    <% end -%>
  </strong>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <% if params[:studnet] %>
          <%= link_to '¿Olvidaste tu contraseña?', new_password_path(resource_name, studnet: params[:studnet]) %><br />
      <% else %>
          <%= link_to '¿Olvidaste tu contraseña?', new_password_path(resource_name) %><br />
      <% end %>
  <% end -%>

  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
      <%= link_to '¿No has recibido las instrucciones de confirmación?', new_confirmation_path(resource_name) %><br />
  <% end -%>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
      <%= link_to 'Recibir instrucciones para desbloquear cuenta', new_unlock_path(resource_name) %><br />
  <% end -%>

  <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
          <%= link_to "Ingresar con #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br />
      <% end -%>
  <% end -%>

</div>