<div class="company-can-view-wrapper">
  <!-- Student Photo, Name and Rating -->
  <div class="row">
    <div class="col-md-10 col-md-offset-1 text-center">

      <!-- Student's Photo, Name and Rating -->
      <div class="row">
        <div class="col-md-3">
          Foto
        </div>
        <div class="col-md-6">
          <h2>
            <!-- # TODO: Students/show fix validation for nil? & fix error when displaying student/id when signed_in as other role -->
            <%= "#{@student.user.first_name} #{@student.user.last_name}" %>
          </h2>
        </div>
        <div class="col-md-3">
          Calificación (maximo 4 estrellas)
        </div>
      </div>
      <!-- ./Student's Photo, Name and Rating -->

    </div>
  </div>
  <!-- ./Student Photo, Name and Rating -->

  <!-- Student Info Tab -->
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="tabbable student-tab-wrapper">

        <ul class="nav nav-tabs student-nav-tabs">
          <li class="active">
            <a href="#pane1" data-toggle="tab">
              Información personal y educación
            </a>
          </li>

          <li>
            <a href="#pane2" data-toggle="tab">
              Experiencia laboral
            </a>
          </li>

          <li>
            <a href="#pane3" data-toggle="tab">
              Habilidades
            </a>
          </li>

          <li>
            <a href="#pane4" data-toggle="tab">
              Descripción
            </a>
          </li>
          <li>
            <a href="#pane5" data-toggle="tab">
              Otros
            </a>
          </li>
        </ul>

        <div class="tab-content student-tab-content">
          <!-- Personal Information -->
          <div id="pane1" class="tab-pane active">

            <div class="row">
              <div class="col-md-6">

                <!-- Personal Info Table -->
                <table class="table studNet-table">
                  <tbody>

                  <tr>
                    <td>
                      Nombre:
                    </td>
                    <td id="studentMajorName">
                      <%= "#{@user.first_name} #{@user.last_name}" %>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Carrera:
                    </td>
                    <td id="studentMajorBlue">
                      <% unless @student.major_id.nil? %>
                          <%= @student.major.major_name %>
                      <% end %>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Universidad:
                    </td>
                    <td>
                      <% unless @student.university_id.nil? %>
                          <%= @student.university.university_name %>
                      <% end %>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Nivel:
                    </td>
                    <td>
                      <% unless @student.ed_level_id.nil? %>
                          <%= @student.education_level.level_name %>
                      <% end %>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Ultimo semestre cursado:
                    </td>
                    <td>
                      <%= @student.last_semester %>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Edad:
                    </td>
                    <td>
                      <!-- TODO: Students/Show - only companies will see this info -->
                      <% unless @student.user.date_of_birth.nil?  %>
                          <%= "#{user_age} años." %>
                      <% end %>
                      <!-- TODO: Students/Show - only companies will see this info -->
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Promedio académico:
                    </td>
                    <td>
                      <% unless @student.gpa.blank? && @student.gpa_max.blank?  %>
                          <%= " #{@student.gpa} / #{@student.gpa_max}" %>
                      <% end %>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Colegio del que te graduaste:
                    </td>
                    <td>
                      <%= @student.highschool %>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Ciudad en la que vive:
                    </td>
                    <td>
                      <% unless @user.city_id.nil? %>
                          <%= @user.city.city_name %>
                      <% end %>
                    </td>
                  </tr>

                  <!-- TODO: Students/Show - only companies will see this info -->
                  <tr>
                    <td>
                      Número de documento:
                    </td>
                    <td>
                      <%= @user.document_number %>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Teléfono de contacto:
                    </td>
                    <td>
                      <%= @user.mobile_phone %>
                    </td>
                  </tr>
                  <!-- TODO: Students/Show - only companies will see this info -->
                  </tbody>
                </table>
                <!-- ./Personal Info Table -->

              </div>

              <!-- TODO: Conditional needed to show info corresponding to the role of the user signed_in -->
              <div class="col-md-6">
                <h3>
                  Otra carrera:
                </h3>

                <!-- Education Info Table -->
                <table class="table studNet-table">
                  <tbody>

                  <!--  TODO: Students/show - pending for development: possibility to add another major + other university + other level for the other major
                    <tr>
                      <td>
                        Carrera:
                      </td>
                      <td>
                        'PENDIENTE
                      </td>
                    </tr>

                    <tr>
                      <td>
                        Universidad:
                      </td>
                      <td>
                        <% unless @student.university_id.nil? %>
                            <%= @student.university.university_name %>
                        <% end %>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        Nivel:
                      </td>
                      <td>
                        <% unless @student.ed_level_id.nil? %>
                            <%= @student.education_level.level_name %>
                        <% end %>
                      </td>
                    </tr>
                    TODO: Students/show - pending for development: possibility to add another major + other university + other level for the other major -->

                  </tbody>
                </table>
                <!-- ./Education Info Table -->

                <!--  Exchange Info Table-->
                <h3>
                  Intercambio académico:
                </h3>

                <table class="table studNet-table">
                  <tbody>

                  <tr>
                    <td>
                      Pais de intercambio:
                    </td>
                    <td>
                      <% unless @student.country_id.nil? %>
                          <%= @student.country.country_name %>
                      <% end %>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Universidad de intercambio:
                    </td>
                    <td>
                      <%= @student.exchange_university %>
                    </td>
                  </tr>

                  </tbody>
                </table>
                <!--  Exchange Info Table-->
              </div>
            </div>

          </div>
          <!-- ./Personal Information -->

          <!-- Experience -->
          <div id="pane2" class="tab-pane">

            <div class="row">
              <div class="col-md-12">

                <!-- Work Experience outside studNet  -->


                <div class="student-work-outside-studnet">

                  <% unless @student.work_xp == false %>
                      <%# TODO: Make conditional to show work xp if student answered yes to the question %>
                  <% end %>

                  <% unless @student.volunteer_xp == false %>
                      <%# TODO: Make conditional to show volunteer xp if student answered yes to the question %>
                  <% end %>

                  <!-- Professional XP -->

                  <div class="row">
                    <div class="col-md-6 student-xp-title">
                      <h3>
                        Experiencia profesional
                      </h3>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 student-xp-title">
                      <h4>
                        <%= @student.xp_position %>
                      </h4>

                      <h5>
                        <%= @student.xp_company %>
                      </h5>
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-md-12">
                      <p>
                        Funciones y logros
                        <br>
                        <!-- TODO: Students/new - create new column in Student for student.xp_functions -->
                        <%= @student.xp_achievements %>
                        <br>
                      </p>
                    </div>
                  </div>

                  <!-- Professional XP -->

                  <!-- Other Activities XP -->

                  <div class="row">
                    <div class="col-md-6 student-xp-title">
                      <h3>
                        Actividades sociales y de voluntariado
                      </h3>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <p>
                        Nombre de la empresa:
                        <%= @student.volunteer_org %>
                        <br>

                        Cargo:
                        <%= @student.volunteer_functions %>
                        <br>
                      </p>
                    </div>
                  </div>

                </div>

                <!-- ./Work Experience outside studNet  -->

                <!-- Work Experience inside studNet  -->
                <div class="row">
                  <div class="col-md-6 student-xp-title">
                    <h3>
                      Proyectos desarrollados en studNet
                    </h3>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <p>
                      Título del proyecto (oferta):
                      <%#= @student.volunteer_org TODO: Students/show - show opportunity title applied by the student %>
                      <br>

                      Descripción del proyecto:
                      <%#= @student.volunteer_functions TODO: Students/show - show opportunity description applied by the student %>
                      <br>
                    </p>
                  </div>
                </div>
                <!-- ./Work Experience inside studNet  -->

              </div>
            </div>

          </div>
          <!-- ./Experience -->

          <!-- Skills -->
          <div id="pane3" class="tab-pane">

            <div class="row">
              <div class="col-md-12">

                <div class="row">
                  <!-- Student Languages -->
                  <%# TODO: Students/Show - Make conditional validation to display languages section %>
                  <div class="users-students-skills-languages-wrapper student-xp-title">
                    <div class="col-md-6">
                      <h3>
                        Idiomas
                      </h3>

                      <!-- TODO: Students/show - fix languages to create more than one language and show them here -->
                      <table class="table studNet-table">
                        <tbody>
                        <tr>
                          <td>
                            <strong>
                              <% unless @student.language_id.nil? %>
                                  <strong>
                                    <%= @student.language.language_name %>
                                  </strong>
                              <% end %>
                            </strong>
                          </td>
                          <td>
                            <%= @student.language_level %>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- ./Student Languages -->

                  <!-- Student Tools -->
                  <div class="student-xp-title">
                    <div class="col-md-6 users-students-skills-tools-wrapper">
                      <h3>
                        Herramientas
                      </h3>

                      <p>
                      <ul class="student-tools">
                        <% @student.tools.each do |tool| %>
                            <li>
                              <%= tool.tool_name  %>
                            </li>
                        <% end %>
                      </ul>
                      </p>
                    </div>
                  </div>
                  <!-- Student Tools -->
                </div>

                <!-- Student Programming Skills/Languages -->
                <%# TODO: Students/Show - Make conditional validation to display programming section %>
                <div class="row">
                  <div class="col-md-12">

                    <div class="row">
                      <div class="col-md-6 student-xp-title">
                        <h3>
                          Lenguajes de programación
                        </h3>
                      </div>
                    </div>

                    <p>
                      <% unless @student.programming_skills == false %>
                          <%# TODO: Make conditional to display programming skills if student answered yes to the question %>
                      <% end %>

                      ¿Sabes programar?:
                      <% if @student.programming_skills == true  %>
                          <%= 'Sí' %>
                      <% else %>
                          <%= 'No' %>
                      <% end %>
                      <br>

                      <%= @student.programing_languages %>

                    </p>

                  </div>
                </div>
                <!-- ./Student Programming Skills/Languages -->
              </div>
            </div>

          </div>
          <!-- ./Skills -->

          <!-- Description -->
          <div id="pane4" class="tab-pane">

            <div class="row">
              <div class="col-md-12">

                <div class="row">
                  <div class="col-md-6 student-xp-title">
                    <h3>
                      Proyectos desarrollados en studNet
                    </h3>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 student-skills">

                    <h4>
                      Principales fortalezas
                    </h4>

                    <ul>
                      <li>
                        <%= @student.strengths %>
                      </li>
                    </ul>

                    <h4>
                      Áreas en la que les gustaría desarrollar su carrera profesional
                    </h4>

                    <ul>
                      <li>
                        <%= @student.areas_to_develop %>
                      </li>
                    </ul>

                    <h4>
                      Intereses, hobbies y otros
                    </h4>

                    <ul>
                      <li>
                        <%= @student.hobbies %>
                      </li>
                    </ul>

                  </div>
                </div>

              </div>
            </div>

          </div>
          <!-- ./Description -->

          <!-- Other -->
          <div id="pane5" class="tab-pane">

            <div class="row">
              <div class="col-md-12">

                <h3>
                  Otros
                  <%= link_to edit_user_path(current_user.id) do |link| %>
                      <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="glyphiconPencilSize"></span>
                  <% end %> <!-- TODO: Users/edit - Make this edit link redirect to edit path specifically to the correct tab -->
                </h3>

                <p>
                  <!-- TODO: Students/show - Upload User image must be done later -->
                  1) Foto <br><br>

                  Como te enteraste de studNet?:
                  <%= @student.user.referenced_by %>
                </p>

              </div>
            </div>

          </div>
          <!-- ./Other -->
        </div>
        <!-- /.tab-content -->
      </div>
      <!-- /.tabbable -->

    </div>
  </div>
  <!-- ./Student Info Tab -->
</div>