<%= form_for(@student) do |f| %>
    <%= render 'shared/error_messages', object: @student %>

    <div class="field">
      <%= f.label :university_id %><br>
      <%= f.number_field :university_id %>
    </div>
    <div class="field">
      <%= f.label :major_id %><br>
      <%= f.number_field :major_id %>
    </div>

    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
