<div class="student-can-view-wrapper">
  <!-- Student Photo, Name and Rating -->
  <div class="row">
    <div class="col-md-10 col-md-offset-1 text-center">

      <!-- Student's Photo, Name and Rating -->
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>
            <span class="student-avatar">
              <% unless @student_user.student.avatar.file.nil? %>
                  <%= image_tag aws_url(@student_user.student.avatar), class: 'img-circle' %>
              <% end %>
            </span>

            <spa>
              <!-- # TODO: Students/show fix validation for nil? & fix error when displaying student/id when signed_in as other role -->
              <% if @user_role.role_id == 2 %>
                  <%= @student_user.first_name %>
                  <%= @student_user.last_name %>
              <% elsif @user_role.role_id == 3 || @user_role.role_id == 3 %>
                  <%= @student_user.first_name %>
              <% end %>
            </spa>

            <span>
              <!--
              Calificación (maximo 4 estrellas) TODO: Students/student_display - pending for dev: Rating 'stars'
              -->
            </span>
          </h2>
        </div>
      </div>
      <!-- ./Student's Photo, Name and Rating -->

    </div>
  </div>
  <!-- ./Student Photo, Name and Rating -->

  <!-- Student Info Tab -->
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="tabbable student-tab-wrapper">

        <ul class="nav nav-tabs student-nav-tabs">
          <li class="active">
            <a href="#pane1" data-toggle="tab">
              Información personal y educación
            </a>
          </li>

          <li>
            <a href="#pane2" data-toggle="tab">
              Experiencia laboral
            </a>
          </li>

          <li>
            <a href="#pane3" data-toggle="tab">
              Habilidades
            </a>
          </li>

          <li>
            <a href="#pane4" data-toggle="tab">
              Descripción
            </a>
          </li>
          <li>
            <a href="#pane5" data-toggle="tab">
              Otros
            </a>
          </li>

          <% unless @application.nil? %>
              <% if @application.applied_opportunity.user_id == current_user.id %>
                  <li>
                    <a href="#pane6" data-toggle="tab">
                      Sobre la oferta
                    </a>
                  </li>
              <% end %>
          <% end %>
        </ul>

        <div class="tab-content student-tab-content">
          <!-- Personal Information -->
          <div id="pane1" class="tab-pane active">

            <div class="row">
              <div class="col-md-6">

                <!-- Personal Info Table -->
                <table class="table studNet-table">
                  <tbody>

                  <tr>
                    <td>
                      Nombre:
                    </td>
                    <td id="studentMajorName">
                      <% if @user_role.role_id == 2 %>
                          <%= @student_user.first_name %>
                          <%= @student_user.last_name %>
                      <% elsif @user_role.role_id == 3 || @user_role.role_id == 3 %>
                          <%= @student_user.first_name %>
                      <% end %>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Carrera:
                    </td>
                    <td id="studentMajorBlue">
                      <% unless @student_user.student.major_id.nil? %>
                          <%= @student_user.student.major.major_name %>
                      <% end %>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Universidad:
                    </td>
                    <td>
                      <% unless @student_user.student.university_id.nil? %>
                          <%= @student_user.student.university.university_name %>
                      <% end %>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Nivel:
                    </td>
                    <td>
                      <% unless @student_user.student.ed_level_id.nil? %>
                          <%= @student_user.student.education_level.level_name %>
                      <% end %>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Ultimo semestre cursado:
                    </td>
                    <td>
                      <%= @student_user.student.last_semester %>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Edad:
                    </td>
                    <td>
                      <!-- TODO: Students/Show - only companies will see this info -->
                      <% unless @student_user.date_of_birth.nil?  %>
                          <%= "#{user_age} años." %>
                      <% end %>
                      <!-- TODO: Students/Show - only companies will see this info -->
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Promedio académico:
                    </td>
                    <td>
                      <% unless @student_user.student.gpa.blank?  %>
                          <%= " #{@student_user.student.gpa} / #{@student_user.student.gpa_max}" %>
                      <% end %>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Colegio del que te graduaste:
                    </td>
                    <td>
                      <%= @student_user.student.highschool %>
                    </td>
                  </tr>

                  <% if @user_role.role_id == 2 %>
                      <tr>
                        <td>
                          Ciudad en la que vive:
                        </td>
                        <td>
                          <% unless @student_user.city_id.nil? %>
                              <%= @student_user.city.city_name %>
                          <% end %>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          Número de documento:
                        </td>
                        <td>
                          <%= @student_user.document_number %>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          Email:
                        </td>
                        <td>
                          <%= @student_user.email %>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          Teléfono de contacto:
                        </td>
                        <td>
                          <%= @student_user.mobile_phone %>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
                <!-- ./Personal Info Table -->

              </div>

              <div class="col-md-6">

                <!-- TODO: Show a second major + university + city + country -->
                <!--
                <h3>
                  Otra carrera:
                </h3>
                -->

                <!-- Education Info Table -->
                <table class="table studNet-table">
                  <tbody>

                  <!--  TODO: Students/show - pending for development: possibility to add another major + other university + other level for the other major
                    <tr>
                      <td>
                        Carrera:
                      </td>
                      <td>
                        'PENDIENTE
                      </td>
                    </tr>

                    <tr>
                      <td>
                        Universidad:
                      </td>
                      <td>
                        <% unless @student_user.student.university_id.nil? %>
                            <%= @student_user.student.university.university_name %>
                        <% end %>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        Nivel:
                      </td>
                      <td>
                        <% unless @student_user.student.ed_level_id.nil? %>
                            <%= @student_user.student.education_level.level_name %>
                        <% end %>
                      </td>
                    </tr>
                    TODO: Students/show - pending for development: possibility to add another major + other university + other level for the other major -->

                  </tbody>
                </table>
                <!-- ./Education Info Table -->

                <!--  Exchange Info Table-->
                <h3>
                  Intercambio académico:
                </h3>

                <table class="table studNet-table">
                  <tbody>

                  <tr>
                    <td>
                      Pais de intercambio:
                    </td>
                    <td>
                      <% unless @student_user.student.country_id.nil? %>
                          <%= @student_user.student.country.country_name %>
                      <% end %>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Universidad de intercambio:
                    </td>
                    <td>
                      <%= @student_user.student.exchange_university %>
                    </td>
                  </tr>

                  </tbody>
                </table>
                <!--  Exchange Info Table-->
              </div>
            </div>

          </div>
          <!-- ./Personal Information -->

          <!-- Experience -->
          <div id="pane2" class="tab-pane">

            <div class="row">
              <div class="col-md-12">

                <!-- Work Experience outside studNet  -->


                <div class="student-work-outside-studnet">

                  <% unless @student_user.student.work_xp == false %>
                      <%# TODO: Make conditional to show work xp if student answered yes to the question %>
                  <% end %>

                  <% unless @student_user.student.volunteer_xp == false %>
                      <%# TODO: Make conditional to show volunteer xp if student answered yes to the question %>
                  <% end %>

                  <!-- Professional XP -->

                  <div class="row">
                    <div class="col-md-6 student-xp-title">
                      <h3>
                        Experiencia profesional
                      </h3>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 student-xp-title">
                      <h4>
                        <%= @student_user.student.xp_position %>
                      </h4>

                      <h5>
                        <%= @student_user.student.xp_company %>
                      </h5>
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-md-12">
                      <p>
                        Funciones y logros
                        <br>
                        <!-- TODO: Students/new - create new column in Student for student.xp_functions -->
                        <%= @student_user.student.xp_achievements %>
                        <br>
                      </p>
                    </div>
                  </div>

                  <!-- Professional XP -->

                  <!-- Other Activities XP -->

                  <div class="row">
                    <div class="col-md-6 student-xp-title">
                      <h3>
                        Actividades sociales y de voluntariado
                      </h3>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <p>
                        Nombre de la empresa:
                        <%= @student_user.student.volunteer_org %>
                        <br>

                        Cargo:
                        <%= @student_user.student.volunteer_functions %>
                        <br>
                      </p>
                    </div>
                  </div>

                </div>

                <!-- ./Work Experience outside studNet  -->

                <!-- Work Experience inside studNet  -->
                <div class="row">
                  <div class="col-md-6 student-xp-title">
                    <h3>
                      Proyectos desarrollados en studNet
                    </h3>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <p>
                      Título del proyecto (oferta):
                      <%#= @student.volunteer_org TODO: Students/show - show opportunity title applied by the student %>
                      <br>

                      Descripción del proyecto:
                      <%#= @student.volunteer_functions TODO: Students/show - show opportunity description applied by the student %>
                      <br>
                    </p>
                  </div>
                </div>
                <!-- ./Work Experience inside studNet  -->

              </div>
            </div>

          </div>
          <!-- ./Experience -->

          <!-- Skills -->
          <div id="pane3" class="tab-pane">

            <div class="row">
              <div class="col-md-12">

                <div class="row">
                  <!-- Student Languages -->
                  <%# TODO: Students/Show - Make conditional validation to display languages section %>
                  <div class="users-students-skills-languages-wrapper student-xp-title">
                    <div class="col-md-6">
                      <h3>
                        Idiomas
                      </h3>

                      <!-- TODO: Students/show - fix languages to create more than one language and show them here -->
                      <table class="table studNet-table">
                        <tbody>
                        <tr>
                          <td>
                            <strong>
                              <% unless @student_user.student.language_id.nil? %>
                                  <strong>
                                    <%= @student_user.student.language.language_name %>
                                  </strong>
                              <% end %>
                            </strong>
                          </td>
                          <td>
                            <%= @student_user.student.language_level %>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- ./Student Languages -->

                  <!-- Student Tools -->
                  <div class="student-xp-title">
                    <div class="col-md-6 users-students-skills-tools-wrapper">
                      <h3>
                        Herramientas
                      </h3>

                      <p>
                      <ul class="student-tools">
                        <% @student_user.student.tools.each do |tool| %>
                            <li>
                              <%= tool.tool_name  %>
                            </li>
                        <% end %>
                      </ul>
                      </p>
                    </div>
                  </div>
                  <!-- Student Tools -->
                </div>

                <!-- Student Programming Skills/Languages -->
                <%# TODO: Students/Show - Make conditional validation to display programming section %>
                <div class="row">
                  <div class="col-md-12">

                    <div class="row">
                      <div class="col-md-6 student-xp-title">
                        <h3>
                          Lenguajes de programación
                        </h3>
                      </div>
                    </div>

                    <p>
                      <% unless @student_user.student.programming_skills == false %>
                          <%# TODO: Make conditional to display programming skills if student answered yes to the question %>
                      <% end %>

                      ¿Sabes programar?:
                      <% if @student_user.student.programming_skills == true  %>
                          <%= 'Sí' %>
                      <% else %>
                          <%= 'No' %>
                      <% end %>
                      <br>

                      <%= @student_user.student.programing_languages %>

                    </p>

                  </div>
                </div>
                <!-- ./Student Programming Skills/Languages -->
              </div>
            </div>

          </div>
          <!-- ./Skills -->

          <!-- Description -->
          <div id="pane4" class="tab-pane">

            <div class="row">
              <div class="col-md-12">

                <div class="row">
                  <div class="col-md-6 student-xp-title">
                    <h3>
                      Proyectos desarrollados en studNet
                    </h3>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 student-skills">

                    <h4>
                      Principales fortalezas
                    </h4>

                    <ul>
                      <li>
                        <%= @student_user.student.strengths %>
                      </li>
                    </ul>

                    <h4>
                      Áreas en la que les gustaría desarrollar su carrera profesional
                    </h4>

                    <ul>
                      <li>
                        <%= @student_user.student.areas_to_develop %>
                      </li>
                    </ul>

                    <h4>
                      Intereses, hobbies y otros
                    </h4>

                    <ul>
                      <li>
                        <%= @student_user.student.hobbies %>
                      </li>
                    </ul>

                  </div>
                </div>

              </div>
            </div>

          </div>
          <!-- ./Description -->

          <!-- Other -->
          <div id="pane5" class="tab-pane">

            <div class="row">
              <div class="col-md-12">

                <h3>
                  Otros
                  <%= link_to edit_user_path(current_user.id) do |link| %>
                      <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="glyphiconPencilSize"></span>
                  <% end %> <!-- TODO: Users/edit - Make this edit link redirect to edit path specifically to the correct tab -->
                </h3>

                <p>
                  <!-- TODO: Students/show - Upload User image must be done later -->
                  1) Foto <br><br>

                  Como te enteraste de studNet?:
                  <%= @student_user.referenced_by %>
                </p>

              </div>
            </div>

          </div>
          <!-- ./Other -->

          <!-- TODO: Students/student_display - make conditional to display 'sobre la oferta' tab, so that only a company/person can view this info -->
          <!-- About this offer -->

          <% unless @application.nil? %>
              <% if @application.applied_opportunity.user_id == current_user.id %>
                  <div id="pane6" class="tab-pane">

                    <div class="row">
                      <div class="col-md-12 text-center">
                        <h3>
                          <%= @application.applied_opportunity.opportunity_title %>
                        </h3>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">

                        <p>
                          <strong>
                            ¿Cuáles características tienes que te hacen ideal para esta oferta?
                          </strong> <br>
                          <%= @application.student_characteristics %>
                        </p>

                        <p>
                          <strong>
                            ¿Qué te interesa de la oferta?
                          </strong> <br>
                          <%= @application.student_interests %>
                        </p>

                        <% unless @application.student_answer.nil? || @application.student_answer.blank? %>
                            <p>
                              <strong>
                                <%= @application.applied_opportunity.question_for_student %>
                              </strong> <br>
                              <%= @application.student_answer %>
                            </p>
                        <% end %>
                      </div>

                      <div class="col-md-6">
                        <% unless @application.opportunity_value.nil? || @application.opportunity_value.blank? %>
                            <p>
                              <strong>
                                Valor del proyecto
                              </strong> <br>
                              <%= @application.opportunity_value %>
                            </p>
                        <% end %>

                        <% unless @application.portfolio.file.nil? %>
                            <p>
                              <strong>
                                Portafolio
                              </strong> <br>
                              <%= link_to 'Descargar', aws_url(@application.portfolio), target: '_blank' %>
                            </p>
                        <% end %>
                      </div>

                    </div>

                  </div>
              <% end %>
          <% end %>

          <!-- ./<!-- About this offer -->

        </div>
        <!-- /.tab-content -->

        <!-- Student Actions -->
        <div class="row">
          <div class="col-md-12 text-center student-actions-wrapper">
            <% if @user_role.role_id == 2 %>
                <%= link_to 'Ver ofertas', opportunities_path, class: 'btn btn-primary btn-studnet' %>
            <% elsif (@user_role.role_id == 3 || @user_role.role_id == 4) && params[:opportunity] %>
                <%= link_to 'Ver más aplicaciones', applicants_opportunity_path(params[:opportunity]), class: 'btn btn-primary btn-studnet' %>

                <%# TODO: student/show/student_display - Make 'adquirir informacion' work %>
                <%= link_to 'Adquirir información', '#', class: 'btn btn-primary btn-studnet' %>
            <% end %>
          </div>
        </div>
        <!-- ./Student Actions -->
      </div>
      <!-- /.tabbable -->

    </div>
  </div>
  <!-- ./Student Info Tab -->
</div>
