<div class="student-can-view-wrapper">
  <!-- Student Photo, Name and Rating -->
  <div class="row">
    <div class="col-md-10 col-md-offset-1 text-center">

      <!-- Student's Photo, Name and Rating -->
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>
            <span class="student-avatar">
              <% unless @student_user.student.avatar.file.nil? %>
                  <%= image_tag aws_url(@student_user.student.avatar), class: 'img-circle' %>
              <% end %>
            </span>

            <span>
              <% if @user_role.role_id == 2 %>
                  <%= @student_user.first_name %>
                  <%= @student_user.last_name %>
              <% elsif @user_role.role_id == 3 || @user_role.role_id == 4 %>
                  <%= @student_user.first_name %>
              <% end %>
            </span>

            <span>
              <!--
              Calificación (maximo 4 estrellas) TODO: Students/student_display - pending for dev: Rating 'stars'
              -->
            </span>
          </h2>
        </div>
      </div>
      <!-- ./Student's Photo, Name and Rating -->

    </div>
  </div>
  <!-- ./Student Photo, Name and Rating -->

  <!-- Student Info Tab -->
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="tabbable student-tab-wrapper">

        <ul class="nav nav-tabs student-nav-tabs"> <!-- nav-justified -->

          <% if params[:opportunity].present?  %>
              <li class="active li-width-30">
                <a href="#pane1" data-toggle="tab">
                  Información personal y educación
                </a>
              </li>

              <li class="border-left-none" id="studentApplicantXP">
                <a href="#pane2" data-toggle="tab">
                  Experiencia laboral
                </a>
              </li>

              <li class="border-left-none li-width-17">
                <a href="#pane3" data-toggle="tab">
                  Habilidades
                </a>
              </li>

              <li class="border-left-none li-width-17">
                <a href="#pane4" data-toggle="tab">
                  Descripción
                </a>
              </li>

              <% unless @application.nil? %>
                  <li class="border-left-none li-width-17">
                    <a href="#pane6" data-toggle="tab">
                      Sobre la oferta
                    </a>
                  </li>
              <% end %>
          <% else %>
              <li class="active li-width-30">
                <a href="#pane1" data-toggle="tab">
                  Información personal y educación
                </a>
              </li>

              <li class="border-left-none li-width-23">
                <a href="#pane2" data-toggle="tab">
                  Experiencia laboral
                </a>
              </li>

              <li class="border-left-none li-width-23">
                <a href="#pane3" data-toggle="tab">
                  Habilidades
                </a>
              </li>

              <li class="border-left-none li-width-23">
                <a href="#pane4" data-toggle="tab">
                  Descripción
                </a>
              </li>
          <% end %>

          <!-- TODO: Commented until client decides what to do with this section
          <li>
            <a href="#pane5" data-toggle="tab">
              Otros
            </a>
          </li>
          -->
        </ul>

        <div class="tab-content student-tab-content">

          <!-- Personal & Education Info -->
          <div id="pane1" class="tab-pane active">

            <!-- Personal Info -->
            <div class="row">
              <div class="col-md-12">

                <div class="row">
                  <div class="col-md-6">
                    <h3>
                      Información personal
                    </h3>
                  </div>
                </div>


                <div class="row">
                  <div class="col-md-6">

                    <table class="table studNet-table">
                      <tbody>

                      <tr>
                        <td>
                          Nombre:
                        </td>
                        <td>
                          <% if @user_role.role_id == 2 %>
                              <%= @student_user.first_name %>
                              <%= @student_user.last_name %>
                          <% elsif @user_role.role_id == 3 || @user_role.role_id == 4 %>
                              <%= @student_user.first_name %>
                          <% end %>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          Edad:
                        </td>
                        <td>
                          <%= "#{user_age} años" %>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          Ubicación:
                        </td>
                        <td>
                          <%= @student_user.definitive_location %>
                        </td>
                      </tr>

                      <tbody>
                    </table>

                  </div>

                  <div class="col-md-6">

                    <table class="table studNet-table">
                      <tbody>

                      <% if @user_role.role_id == 2 %>
                          <tr>
                            <td>
                              Correo:
                            </td>
                            <td>
                              <%= @student_user.email %>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              Celular:
                            </td>
                            <td>
                              <%= @student_user.mobile_phone %>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              Número de documento:
                            </td>
                            <td>
                              <%= @student_user.document_number %>
                            </td>
                          </tr>
                      <% end %>

                      <tbody>
                      </table>

                  </div>

                </div>

              </div>
              <!-- ./Personal Info Table -->
            </div>
            <!-- ./Personal Info -->

            <!-- ./Education Info -->
            <div class="row">
              <div class="col-md-12">

                <div class="row">
                  <!-- Education Info Table -->
                  <div class="col-md-6">

                    <h3>
                      Educación
                    </h3>


                    <table class="table studNet-table">
                      <tbody>

                      <tr>
                        <td>
                          Carrera:
                        </td>
                        <td>
                          <% unless @student_user.student.major_id.nil? %>
                              <%= @student_user.student.definitive_major %>
                          <% end %>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          Universidad:
                        </td>
                        <td>
                          <% unless @student_user.student.university_id.nil? %>
                              <%= @student_user.student.definitive_university %>
                          <% end %>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          Nivel:
                        </td>
                        <td>
                          <% unless @student_user.student.ed_level_id.nil? %>
                              <%= @student_user.student.education_level.level_name %>
                          <% end %>
                        </td>
                      </tr>


                      <% if @student_user.student.has_second_major? %>
                          <tr></tr>

                          <tr>
                            <td>
                              Segunda carrera:
                            </td>
                            <td>
                              <% unless @student_user.student.second_major_id.nil? %>
                                  <%= @student_user.student.second_major.major_name %>
                              <% end %>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              Universidad:
                            </td>
                            <td>
                              <% unless @student_user.student.second_university_id.nil? %>
                                  <%= @student_user.student.second_university.university_name %>
                              <% end %>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              Nivel:
                            </td>
                            <td>
                              <% unless @student_user.student.second_ed_level_id.nil? %>
                                  <%= @student_user.student.second_education_level.level_name %>
                              <% end %>
                            </td>
                          </tr>
                      <% end %>

                      <tr>
                        <td>
                          Último semestre cursado:
                        </td>
                        <td>
                          <%= @student_user.student.last_semester %>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          Promedio académico:
                        </td>
                        <td>
                          <% unless @student_user.student.gpa.blank?  %>
                              <%= " #{@student_user.student.gpa} / #{@student_user.student.gpa_max}" %>
                          <% end %>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          Tipo de estudiante:
                        </td>
                        <td>
                          <%= type_of_student_select_friendly(@student_user) %>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          Colegio:
                        </td>
                        <td>
                          <%= @student_user.student.highschool %>
                        </td>
                      </tr>

                      </tbody>
                    </table>

                  </div>
                  <!-- ./Education Info Table -->

                  <!-- Other Major & Student Exchange Table -->
                  <div class="col-md-6">

                    <!-- Other Major Table -->
                    <!-- TODO: Validate other major in order to display it -->
                    <%# unless @student_user.student.exchange_student.nil? || @student_user.student.exchange_university.nil? %>
                    <!--
                    <div class="row">
                      <div class="col-md-12">
                        <h3>
                          Otra carrera
                        </h3>

                        <table class="table studNet-table">
                          <tbody>

                          <tr>
                            <td>
                              Carrera:
                            </td>
                            <td>
                              <%# TODO: Students/show - pending for development: possibility to add another major + other university + other level for the other major %>
                              'PENDIENTE
                            </td>
                          </tr>

                          <tr>
                            <td>
                              Universidad:
                            </td>
                            <td>
                              <% unless @student_user.student.university_id.nil? %>
                                  <%= @student_user.student.definitive_university %>
                              <% end %>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              Nivel:
                            </td>
                            <td>
                              <% unless @student_user.student.ed_level_id.nil? %>
                                  <%= @student_user.student.education_level.level_name %>
                              <% end %>
                            </td>
                          </tr>

                          </tbody>
                        </table>
                      </div>
                    </div>
                        <!-- TODO: Students/show - pending for development: possibility to add another major + other university + other level for the other major -->
                    <%# end %>
                    <!-- ./Other Major Table -->

                    <!-- Student Exchange Table -->
                    <% unless @student_user.student.exchange_student.nil? || @student_user.student.exchange_university.nil? %>
                        <div class="row">
                          <div class="col-md-12">
                            <h3>
                              Intercambio académico
                            </h3>

                            <% unless @student_user.student.exchange_student == 0 %>
                                <table class="table studNet-table">
                                  <tbody>

                                  <tr>
                                    <td>
                                      Universidad de intercambio:
                                    </td>
                                    <td>
                                      <%= @student_user.student.exchange_university %>
                                    </td>
                                  </tr>

                                  <tr>
                                    <td>
                                      Pais de intercambio:
                                    </td>
                                    <td>
                                      <% unless @student_user.student.country_id.nil? %>
                                          <%= @student_user.student.country.country_name %>
                                      <% end %>
                                    </td>
                                  </tr>

                                  </tbody>
                                </table>
                            <% end %>
                          </div>
                        </div>
                    <% end %>
                    <!-- ./Student Exchange Table -->
                  </div>
                  <!-- ./Other Major & Student Exchange Table -->
                </div>

              </div>
            </div>
            <!-- ./Education Info -->

          </div>
          <!-- ./Personal & Education Info -->


          <!-- Experience -->
          <div id="pane2" class="tab-pane">

            <div class="row">
              <div class="col-md-12">

                <!-- Work Experience outside studNet  -->


                <div class="student-work-outside-studnet">
                  <!-- Professional XP -->

                  <% if @student_user.student.work_xp == 0 %>
                      <div class="row">
                        <div class="col-md-6 student-xp-title student-xp-title-blank">
                          <h3>
                            Experiencia profesional
                          </h3>
                        </div>
                      </div>
                  <% else %>
                      <div class="row">
                        <div class="col-md-6 student-xp-title">
                          <h3>
                            Experiencia profesional
                          </h3>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6 student-xp-title">
                          <h4>
                            <%= @student_user.student.xp_position %>
                          </h4>
                          <h5>
                            <%= @student_user.student.xp_company %>
                          </h5>
                        </div>
                      </div>


                      <div class="row">
                        <div class="col-md-12">
                          <ul>
                            <li>
                              <p>
                                <%= @student_user.student.xp_achievements %>
                              </p>
                            </li>
                          </ul>
                        </div>
                      </div>

                      <% if @student_user.student.has_second_work_xp? %>
                          <hr />

                          <div class="row">
                            <div class="col-md-6 student-xp-title">
                              <h4>
                                <%= @student_user.student.second_xp_position %>
                              </h4>
                              <h5>
                                <%= @student_user.student.second_xp_company %>
                              </h5>
                            </div>
                          </div>


                          <div class="row">
                            <div class="col-md-12">
                              <ul>
                                <li>
                                  <p>
                                    <%= @student_user.student.second_xp_achievements %>
                                  </p>
                                </li>
                              </ul>
                            </div>
                          </div>
                      <% end %>

                      <% if @student_user.student.has_third_work_xp? %>
                          <hr />

                          <div class="row">
                            <div class="col-md-6 student-xp-title">
                              <h4>
                                <%= @student_user.student.third_xp_position %>
                              </h4>
                              <h5>
                                <%= @student_user.student.third_xp_company %>
                              </h5>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-12">
                              <ul>
                                <li>
                                  <p>
                                    <%= @student_user.student.third_xp_achievements %>
                                  </p>
                                </li>
                              </ul>
                            </div>
                          </div>
                      <% end %>

                  <% end %>
                  <!-- Professional XP -->

                  <!-- Other Activities XP -->

                  <% if @student_user.student.volunteer_xp == 0 %>
                      <div class="row">
                        <div class="col-md-6 student-xp-title student-xp-title-blank">
                          <h3>
                            Actividades sociales y de voluntariado
                          </h3>
                        </div>
                      </div>
                  <% else %>
                      <div class="row">
                        <div class="col-md-6 student-xp-title">
                          <h3>
                            Actividades sociales y de voluntariado
                          </h3>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6 student-xp-title">
                          <h5>
                            <%= @student_user.student.volunteer_org %>
                          </h5>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                          <ul>
                            <li>
                              <p>
                                <%= @student_user.student.volunteer_functions %>
                              </p>
                            </li>
                          </ul>
                        </div>
                      </div>

                      <% if @student_user.student.has_second_volunteer_xp? %>
                          <hr />

                          <div class="row">
                            <div class="col-md-6 student-xp-title">
                              <h5>
                                <%= @student_user.student.second_volunteer_org %>
                              </h5>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-12">
                              <ul>
                                <li>
                                  <p>
                                    <%= @student_user.student.second_volunteer_functions %>
                                  </p>
                                </li>
                              </ul>
                            </div>
                          </div>
                      <% end %>

                      <% if @student_user.student.has_third_volunteer_xp? %>
                          <hr />

                          <div class="row">
                            <div class="col-md-6 student-xp-title">
                              <h5>
                                <%= @student_user.student.third_volunteer_org %>
                              </h5>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-12">
                              <ul>
                                <li>
                                  <p>
                                    <%= @student_user.student.third_volunteer_functions %>
                                  </p>
                                </li>
                              </ul>
                            </div>
                          </div>
                      <% end %>

                  <% end %>
                </div>

                <!-- ./Work Experience outside studNet  -->

                <!-- Work Experience inside studNet  -->
                <div class="row">
                  <div class="col-md-6 student-xp-title margin-bot-20">
                    <h3>
                      Proyectos desarrollados en studNet
                    </h3>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <p>
                    <ul>
                      <li>
                        El estudiante todavía no ha realizado proyectos en studNet
                      </li>
                    </ul>
                    <!--
                      Título del proyecto (oferta):
                      <%#= @student.volunteer_org TODO: Students/show - show opportunity title applied by the student %>
                      <br>
                      Descripción del proyecto:
                      <%#= @student.volunteer_functions TODO: Students/show - show opportunity description applied by the student %>
                      -->
                    <br>
                    </p>
                  </div>
                </div>
                <!-- ./Work Experience inside studNet  -->

              </div>
            </div>

          </div>
          <!-- ./Experience -->

          <!-- Skills -->
          <div id="pane3" class="tab-pane">

            <div class="row">
              <div class="col-md-12">

                <div class="row">
                  <!-- Student Languages -->
                  <%# TODO: Students/Show - Make conditional validation to display languages section %>
                  <div class="users-students-skills-languages-wrapper student-xp-title">
                    <div class="col-md-6">
                      <h3>
                        Idiomas
                      </h3>

                      <!-- TODO: Students/show - fix languages to create more than one language and show them here -->
                      <table class="table studNet-table">
                        <tbody>
                        <% @student_user.student.learnt_languages.each do |learnt_language| %>
                            <tr>
                              <td>
                                <strong>
                                  <%= learnt_language.language.language_name %>
                                </strong>
                              </td>
                              <td>
                            <span class="student-language-name">
                              <%= learnt_language.language_level %>
                            </span>
                              </td>
                            </tr>
                        <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- ./Student Languages -->

                  <!-- Student Tools -->
                  <div class="student-xp-title">
                    <div class="col-md-6 users-students-skills-tools-wrapper margin-bot-40">
                      <h3>
                        Herramientas
                      </h3>

                      <p>
                      <ul class="student-tools">
                        <% @student_user.student.tools.each do |tool| %>
                            <li>
                              <%= tool.tool_name  %>
                            </li>
                        <% end %>
                      </ul>
                      </p>
                    </div>
                  </div>
                  <!-- Student Tools -->
                </div>

                <div class="row">
                  <!-- Student Programming Skills/Languages -->
                  <% unless @student_user.student.programming_skills == 0 %>
                      <div class="col-md-6">

                        <div class="row">
                          <div class="col-md-12 student-xp-title">
                            <h3>
                              Lenguajes de programación
                            </h3>
                          </div>
                        </div>

                        <p>
                          <%= @student_user.student.programing_languages %>
                        </p>

                      </div>
                  <% end %>
                  <!-- ./Student Programming Skills/Languages -->

                  <div class="col-md-6 margin-bot-40">
                    <!-- Student Other Tools & Skills -->
                    <% if @student_user.student.other_tools_skills.nil? %>
                        <div class="row">
                          <div class="col-md-12 student-xp-title">
                            <h3>
                              Otras herraientas y habilidades
                            </h3>
                          </div>
                        </div>
                    <% else %>
                        <div class="row">
                          <div class="col-md-12 student-xp-title">
                            <h3>
                              Otras herraientas y habilidades
                            </h3>
                          </div>
                        </div>

                        <p>
                          <%= @student_user.student.other_tools_skills %>
                        </p>
                    <% end %>
                  </div>
                  <!-- ./Student Other Tools & Skills -->

                </div>
              </div>
            </div>

          </div>
          <!-- ./Skills -->

          <!-- Description -->
          <div id="pane4" class="tab-pane">

            <div class="row">
              <div class="col-md-12 student-skills">

                <div class="row">
                  <div class="col-md-6 student-xp-title">
                    <h3>
                      Principales fortalezas
                    </h3>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <ul>
                      <li>
                        <%= @student_user.student.strengths %>
                      </li>
                    </ul>
                  </div>
                </div>


                <div class="row">
                  <div class="col-md-8 student-xp-title">
                    <h3>
                      Áreas en las que les gustaría desarrollar su carrera profesional
                    </h3>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <ul>
                      <li>
                        <%= @student_user.student.areas_to_develop %>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 student-xp-title">
                    <h3>
                      Intereses, hobbies y otros
                    </h3>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <ul>
                      <li>
                        <%= @student_user.student.hobbies %>
                      </li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>

          </div>
          <!-- ./Description -->

          <!-- Other -->
          <!-- TODO: Commented until client decides what to do with this section
          <div id="pane5" class="tab-pane">

            <div class="row">
              <div class="col-md-12">

                <h3>
                  Otros
                </h3>

                <p>
                  Como te enteraste de studNet?:
                  <%= student_referenced_by_select_friendly(@student_user) %>
                </p>

              </div>
            </div>

          </div>
          -->
          <!-- ./Other -->


          <!-- About this offer -->
          <% unless @application.nil? %>
              <% if @application.applied_opportunity.user_id == current_user.id %>
                  <div id="pane6" class="tab-pane">

                    <div class="row">
                      <div class="col-md-6 text-center">
                        <h3>
                          <%= @application.applied_opportunity.opportunity_title %>
                        </h3>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">

                        <p>
                          <strong>
                            ¿Cuáles características tienes que te hacen ideal para esta oferta?
                          </strong> <br>
                          <%= @application.student_characteristics %>
                        </p>

                        <p>
                          <strong>
                            ¿Por qué te interesa esta oferta?
                          </strong> <br>
                          <%= @application.student_interests %>
                        </p>

                        <% unless @application.student_answer.nil? || @application.student_answer.blank? %>
                            <p>
                              <strong>
                                <%= @application.applied_opportunity.question_for_student %>
                              </strong> <br>
                              <%= @application.student_answer %>
                            </p>
                        <% end %>
                      </div>

                      <div class="col-md-6">
                        <% unless @application.opportunity_value.nil? || @application.opportunity_value.blank? %>
                            <p>
                              <strong>
                                Valor del proyecto
                              </strong> <br>
                              <%= @application.opportunity_value %>
                            </p>
                        <% end %>

                        <% unless @application.portfolio.file.nil? %>
                            <p>
                              <strong>
                                Portafolio
                              </strong> <br>
                              <%= link_to 'Descargar', aws_url(@application.portfolio), target: '_blank' %>
                            </p>
                        <% end %>
                      </div>

                    </div>

                  </div>
              <% end %>
          <% end %>

          <!-- ./<!-- About this offer -->

        </div>
        <!-- /.tab-content -->

        <!-- Student Actions -->
        <div class="row">
          <div class="col-md-12 text-center student-actions-wrapper">
            <% if @user_role.role_id == 2 %>
                <%= link_to 'Editar perfil', edit_user_path(@student_user), class: 'btn btn-primary btn-studnet-basic' %>
                <%= link_to 'Ver ofertas', opportunities_path, class: 'btn btn-primary btn-studnet-basic' %>
            <% elsif (@user_role.role_id == 3 || @user_role.role_id == 4) && params[:opportunity] %>
                <%= link_to 'Ver más aplicaciones', applicants_opportunity_path(params[:opportunity]), class: 'btn btn-primary btn-studnet-basic' %>
                <%# TODO: student/show/student_display - Make 'acquire informacion' work %>
                <%= link_to 'Adquirir información', '#', class: 'btn btn-primary btn-studnet-basic' %>
            <% end %>
          </div>
        </div>
        <!-- ./Student Actions -->
      </div>
      <!-- /.tabbable -->

    </div>
  </div>
  <!-- ./Student Info Tab -->
</div>
