<p id="notice"><%= notice %></p>

<p>
  <strong>University:</strong>
  <%= @student.university_id %>
</p>

<p>
  <strong>Major:</strong>
  <%= @student.major_id %>
</p>

<p>
  <strong>Promo:</strong>
  <%= @student.promo_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @student.role_id %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
