<section class="studNet-wrapper profile-wrapper">
  <div class="container">

    <%= render 'students/student_display' %>

  </div>
</section>

<!--

<tr>
  <td>
  Fecha de Nacimiento:
  </td>
  <td>
  <% unless @student_user.date_of_birth.nil? %>
    <%= @student_user.date_of_birth.strftime('%Y/%m/%d ') %>
<% end %>
  </td>
</tr>

<tr>
  <td>
  País:
  </td>
  <td>
  <% unless @student_user.country_id.nil? %>
    <%= @student_user.country.country_name %>
<% end %>
  </td>
</tr>

<tr>
  <td>
    Intercambio:
  </td>
  <td>
    <% if @student_user.student.exchange_student == true  %>
    <%= 'Sí' %>
<% else %>
    <%= 'No' %>
<% end %>
  </td>
</tr>


Tiene experiencia laboral:
<% if @student_user.student.work_xp == true  %>
    <%= 'Sí' %>
<% else %>
    <%= 'No' %>
<% end %>


// Get yes/no for the selected attribute
<%#= student_work_xp_select_friendly(@student) %>


// Get yes/no for the selected attribute
<%#= student_volunteer_xp_select_friendly(@student) %>


-->
