<section class="studNet-wrapper">
  <div class="container">

    <div class="row">
      <div class="col-md-12">

        <p id="notice"><%= notice %></p>

        <p>
          <strong>University:</strong>
          <%= @student.university.university_name %>
        </p>

        <p>
          <strong>Major:</strong>
          <%= @student.major.major_name %>
        </p>


        <%= link_to 'Edit', edit_student_path(@student) %> |
        <%= link_to 'Back', students_path %>

      </div>
    </div>

  </div>
</section>


