<section class="studNet-wrapper profile-wrapper">
  <div class="container">

    <!-- Student Show -->
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">

        <div class="row">
          <div class="col-md-3">
            Foto
          </div>
          <div class="col-md-6">
            <h2>
              <%= "#{@student.user.first_name} #{@student.user.last_name}" %>
            </h2>
          </div>
          <div class="col-md-3">
            Calificación (maximo 4 estrellas)
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <div class="tabbable student-tab-wrapper">
          <!--  -->
          <ul class="nav nav-tabs student-nav-tabs">
            <li class="active">
              <a href="#pane1" data-toggle="tab">
                Información personal y educación
              </a>
            </li>

            <li>
              <a href="#pane2" data-toggle="tab">
                Experiencia laboral
              </a>
            </li>

            <li>
              <a href="#pane3" data-toggle="tab">
                Habilidades
              </a>
            </li>

            <li>
              <a href="#pane4" data-toggle="tab">
                Descripción
              </a>
            </li>
            <li>
              <a href="#pane5" data-toggle="tab">
                Otros
              </a>
            </li>
          </ul>

          <div class="tab-content student-tab-content">
            <!-- Personal Information -->
            <div id="pane1" class="tab-pane active">

              <div class="row">
                <div class="col-md-6">
                  <h3>
                    Información Personal
                    <%= link_to edit_user_path(current_user.id) do |link| %>
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="glyphiconPencilSize"></span>
                    <% end %>
                  </h3>

                  <p>
                    Nombre(s):
                    <%= @user.first_name %>
                    <br>

                    Apellidos:
                    <%= @user.last_name %>
                    <br>

                    Fecha de Nacimiento:
                    <!-- TODO: Students/show - Refactoring needed. Too many unless blocks. Create helper method in application_helper pending  -->
                    <% unless @user.date_of_birth.nil? %>
                        <%= @user.date_of_birth.strftime('%Y/%m/%d ') %>
                    <% end %> <br>

                    Edad:
                    <%= "#{user_age} años." %>
                    <br> <!-- TODO: Students/Show - only companies will see this info -->

                    Número de documento:
                    <%= @user.document_number %>
                    <br>

                    Teléfono de contacto:
                    <%= @user.mobile_phone %>
                    <br>

                    Ciudad:
                    <% unless @user.city_id.nil? %>
                        <%= @user.city.city_name %>
                    <% end %>
                    <br>

                    País:
                    <% unless @user.country_id.nil? %>
                        <%= @user.country.country_name %>
                    <% end %>
                  </p>
                </div>

                <!-- TODO: Conditional needed to show info corresponding to the role of the user signed_in -->
                <div class="col-md-6">
                  <h3>
                    Educación
                    <%= link_to edit_user_path(current_user.id) do |link| %>
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="glyphiconPencilSize"></span>
                    <% end %>
                  </h3>

                  <p>
                    Universidad:
                    <% unless @student.university_id.nil? %>
                        <%= @student.university.university_name %>
                    <% end %>
                    <br>

                    Carrera:
                    <% unless @student.major_id.nil? %>
                        <%= @student.major.major_name %>
                    <% end %>
                    <br>

                    Nivel:
                    <% if @student.ed_level_id == 1  %>
                        <%= 'Pregrado' %>
                    <% else %>
                        <%= 'Posgrado' %>
                    <% end %>
                    <br>

                    Otra carrera(s):
                    'PENDIENTE
                    <br>

                    Ultimo semestre cursado:
                    <%= @student.last_semester %>
                    <br>

                    Calificación máxima en tu universidad:
                    <%= @student.gpa_max %>

                    Promedio académico acumulado:
                    <%= @student.gpa %>
                    <br>

                    Intercambio:
                    <% if @student.exchange_student == true  %>
                        <%= 'Sí' %>
                    <% else %>
                        <%= 'No' %>
                    <% end %>
                    <br>

                    Pais de intercambio:
                    <% unless @student.country_id.nil? %>
                        <%= @student.country.country_name %>
                    <% end %>
                    <br>

                    Universidad de intercambio:
                    <%= @student.exchange_university %>
                    <br>

                    Colegio del que te graduaste:
                    <%= @student.highschool %>

                  </p>

                </div>
              </div>

            </div>

            <!-- Experience -->
            <div id="pane2" class="tab-pane">

              <div class="row">
                <div class="col-md-12">

                  <h3>
                    Experiencia profesional
                    <%= link_to edit_user_path(current_user.id) do |link| %>
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="glyphiconPencilSize"></span>
                    <% end %> <!-- TODO: Users/edit - Make this edit link redirect to edit path specifically to the correct tab -->
                  </h3>

                  <p>
                    Tiene experiencia laboral:
                    <% if @student.work_xp == true  %>
                        <%= 'Sí' %>
                    <% else %>
                        <%= 'No' %>
                    <% end %>
                    <br>

                    Nombre de la empresa:
                    <%= @student.xp_company %>
                    <br>

                    Cargo:
                    <%= @student.xp_position %>
                    <br>

                    Logros:
                    <%= @student.xp_achievements %>
                    <br>
                  </p>

                  <h3>
                    Actividades sociales y de voluntariado
                  </h3>

                  <p>
                    Otras experiencias:
                    <% if @student.volunteer_xp == true  %>
                        <%= 'Sí' %>
                    <% else %>
                        <%= 'No' %>
                    <% end %>
                    <br>

                    Nombre de la empresa:
                    <%= @student.volunteer_org %>
                    <br>

                    Cargo:
                    <%= @student.volunteer_functions %>
                    <br>
                  </p>

                </div>
              </div>

            </div>

            <!-- Skills -->
            <div id="pane3" class="tab-pane">

              <div class="row">
                <div class="col-md-12">

                  <h3>
                    Habilidades
                    <%= link_to edit_user_path(current_user.id) do |link| %>
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="glyphiconPencilSize"></span>
                    <% end %> <!-- TODO: Users/edit - Make this edit link redirect to edit path specifically to the correct tab -->
                  </h3>

                  <div class="row">
                    <div class="col-md-6">
                      <h4>
                        Idiomas
                      </h4>

                      <!-- TODO: Students/show - fix languages to create more than one language and show them here -->
                      <table class="table">
                        <tbody>
                        <tr>
                          <td>
                            <strong>
                              <%= @student.language.language_name %>
                            </strong>
                          </td>
                          <td>
                            <%= @student.language_level %>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>

                    <div class="col-md-6">
                      <h4>
                        Herramientas
                      </h4>

                      <p>
                      <ul>
                        <% @student.tools.each do |tool| %>
                            <li>
                              <%= tool.tool_name  %>
                            </li>
                        <% end %>
                      </ul>
                      </p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <h4>
                        Lenguajes de programación
                      </h4>

                      <p>
                        ¿Sabes programar?:
                        <% if @student.volunteer_xp == true  %>
                            <%= 'Sí' %>
                        <% else %>
                            <%= 'No' %>
                        <% end %>
                        <br>

                        <%= @student.programing_languages %>
                      </p>

                    </div>
                  </div>

                </div>
              </div>

            </div>

            <!-- Description -->
            <div id="pane4" class="tab-pane">

              <div class="row">
                <div class="col-md-12">

                  <h3>
                    Habilidades
                    <%= link_to edit_user_path(current_user.id) do |link| %>
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="glyphiconPencilSize"></span>
                    <% end %> <!-- TODO: Users/edit - Make this edit link redirect to edit path specifically to the correct tab -->
                  </h3>

                  <h4>
                    Principales fortalezas
                  </h4>

                  <p>
                    <%= @student.strengths %>
                  </p>

                  <h4>
                    Áreas en la que les gustaría desarrollar su carrera profesional
                  </h4>

                  <p>
                    <%= @student.areas_to_develop %>
                  </p>

                  <h4>
                    Intereses, hobbies y otros
                  </h4>

                  <p>
                    <%= @student.hobbies %>
                  </p>

                </div>
              </div>

            </div>

            <!-- Tab 5 -->
            <div id="pane5" class="tab-pane">

              <div class="row">
                <div class="col-md-12">

                  <h3>
                    Habilidades
                    <%= link_to edit_user_path(current_user.id) do |link| %>
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="glyphiconPencilSize"></span>
                    <% end %> <!-- TODO: Users/edit - Make this edit link redirect to edit path specifically to the correct tab -->
                  </h3>

                  <p>
                    <!-- TODO: Students/show - Upload User image must be done later -->
                    1) Foto <br><br>

                    Como te enteraste de studNet?:
                    <%= @student.user.referenced_by %>
                  </p>

                </div>
              </div>

            </div>
          </div>
          <!-- /.tab-content -->
        </div>
        <!-- /.tabbable -->

      </div>
    </div>
    <!-- ./Student Show -->

  </div>
</section>


<%#= link_to 'Edit', info_basica_path %> |
<%#= link_to 'Back', users_path %>
