<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> no permitieron que los datos del usuario fueran guardados:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="student-tab-wrapper ">
      <div class="student-tab-content">

        <div class="row">
          <div class="col-md-12 text-center">
            <h3>
              Datos de contacto
            </h3>
          </div>
        </div>

        <div class="row">

          <!-- Contact Info Wrapper -->
          <div class="col-md-6">

            <div class="form-group">
              <%= f.label :first_name, 'Nombre(s)' %><br>
              <%= f.text_field :first_name, class: 'form-control input-width' %>
            </div>

            <div class="form-group">
              <%= f.label :last_name, 'Apellidos' %><br>
              <%= f.text_field :last_name, class: 'form-control input-width' %>
            </div>

            <div class="form-group">
              <%= f.label :document_number, 'Documento de identidad' %><br>
              <%= f.text_field :document_number, class: 'form-control input-width' %>
            </div>

            <div class="form-group">
              <%= f.label :mobile_phone, 'Teléfono de contacto' %><br>
              <%= f.text_field :mobile_phone, class: 'form-control input-width' %>
            </div>

          </div>
          <!-- ./Contact Info Wrapper -->

          <!-- Company Info Wrapper -->
          <div class="col-md-6">

            <div class="form-group">
              <%= f.label :city_id, 'Ciudad' %><br>
              <%= f.select :city_id, City.all.map { |city| [city.city_name, city.id] }, { prompt: 'Por favor selecciona una opción' }, class: 'form-control input-width' %>
            </div>

            <div class="form-group">
              <%= f.label :country_id, 'Pais' %><br>
              <%= f.select :country_id, Country.all.map { |country| [country.country_name, country.id] }, { prompt: 'Por favor selecciona una opción' }, class: 'form-control input-width' %>
            </div>

            <!-- Nested form (person) -->
            <%= f.fields_for :person, @user.company do |person| %>
                <div class="users-companies-company-info-wrapper">

                  <div class="form-group">
                    <%= person.label :profession, 'Profesión / Carrera' %><br>
                    <%= person.text_field :profession, class: 'form-control input-width' %>
                  </div>

                  <div class="form-group">
                    <%= person.label :occupation, 'Ocupación' %><br>
                    <%= person.text_field :occupation, class: 'form-control input-width' %>
                  </div>

                </div>
            <% end %>
            <!-- ./Nested form (person) -->

            <div class="form-group">
              <%= f.label :referenced_by, '¿Cómo te enteraste de studNet?' %><br />
              <%= f.select(:referenced_by, User::REFERENCES_USER, {}, { :class => 'form-control' }) %>
            </div>

            <!-- ./Nested form (company) -->

          </div>
          <!-- ./Company Info Wrapper -->

        </div>

        <div class="actions text-right">
          <%= f.submit 'Guardar', class: 'btn btn-primary btn-studnet-basic' %>
        </div>

      </div>

    </div>
<% end %>