<%= form_for(@user, multipart: true) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> no permitieron que los datos del usuario fueran guardados:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="tab-content student-tab-content">

      <!-- Personal & Education Info -->
      <div id="pane1" class="tab-pane active">

        <!-- Personal Information -->
        <div class="row">
          <div class="col-md-6">
            <h3>
              Información Personal
            </h3>
          </div>
          <div class="col-md-6">
            <h3>
              Educación
            </h3>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="users-personal-info-wrapper">

              <div class="form-group">
                <%= f.label :first_name, 'Nombre(s)' %><br>
                <%= f.text_field :first_name, class: 'form-control input-width' %>
              </div>

              <div class="form-group">
                <%= f.label :last_name, 'Apellidos' %><br>
                <%= f.text_field :last_name, class: 'form-control input-width' %>
              </div>

              <div class="form-group">
                <%= f.label :date_of_birth, 'Fecha de nacimiento' %><br>
                <%= f.date_select :date_of_birth, { start_year: Time.now.year - 18, end_year: Time.now.year - 90 }, { class: 'form-control input-width' } %>
              </div>

              <div class="form-group">
                <%= f.label :country_id, 'Pais' %><br>
                <%= f.select :country_id, Country.all.map { |country| [country.country_name, country.id] }, class: 'form-control input-width' %>
              </div>

              <div class="form-group" id="userCity">
                <%= f.label :city_id, 'Ciudad en la que vives' %><br>
                <%= f.select :city_id, City.all.map { |city| [city.city_name, city.id] }, { prompt: 'Por favor selecciona una opción' }, class: 'form-control input-width' %>
              </div>

              <div class="form-group" id="otherCity">
                <%= f.label :other_city, 'Otra ciudad' %><br>
                <%= f.text_field :other_city, class: 'form-control input-width' %>
              </div>

              <div class="form-group">
                <%= f.label :mobile_phone, 'Teléfono celular' %><br>
                <%= f.text_field :mobile_phone, class: 'form-control input-width' %>
              </div>

              <div class="form-group">
                <%= f.label :document_number, 'Documento de identidad' %><br>
                <%= f.text_field :document_number, class: 'form-control input-width' %>
              </div>

              <%= f.fields_for :student, @user.student do |s| %>
                  <div class="form-group">
                    <%= s.label :avatar, 'Foto de perfil (De máximo 500 KB, resolución cuadrada y de mínimo 300 px)' %><br>
                    <%= s.file_field :avatar, class: 'input-width' %>
                  </div>
              <% end %>

            </div>
          </div>
          <!-- ./Personal Information -->

          <!-- Education -->
          <div class="col-md-6">
            <!-- Students: Education Info Wrapper -->
            <div class="users-students-education-info-wrapper">
              <!-- Nested form (student) -->
              <%= f.fields_for :student, @user.student do |s| %>
                  <h4>Primera carrera</h4><br/>

                  <div class="form-group">
                    <%= s.label :university_id, 'Universidad' %>
                    <%= s.select :university_id, University.all.map { |university| [university.university_name, university.id] }, { prompt: 'Por favor selecciona una opción' }, class: 'form-control input-width' %>
                  </div>

                  <div class="form-group" id="otherUniversity">
                    <%= s.label :other_university, 'Otra universidad'  %>
                    <%= s.text_field :other_university, class: 'form-control input-width' %>
                  </div>

                  <div class="form-group">
                    <%= s.label :major_id, 'Carrera'  %>
                    <%= s.select :major_id, Major.all.map { |major| [major.major_name, major.id] }, { prompt: 'Por favor selecciona una opción' }, class: 'form-control input-width' %>
                  </div>

                  <div class="form-group" id="otherMajor">
                    <%= s.label :other_major, 'Otra carrera'  %>
                    <%= s.text_field :other_major, class: 'form-control input-width' %>
                  </div>

                  <div class="form-group">
                    <%= s.label :ed_level_id, 'Nivel' %>
                    <%= s.select :ed_level_id, EducationLevel.all.map { |ed_level| [ed_level.level_name, ed_level.id] }, { prompt: 'Por favor selecciona una opción' }, class: 'form-control input-width' %>
                  </div>

                  <hr/>
                  <h4>Otra carrera (opcional)</h4><br/>

                  <div class="form-group">
                    <%= s.label :second_university_id, 'Universidad de otra carrera (opcional)' %>
                    <%= s.select :second_university_id, University.all.map { |university| [university.university_name, university.id] }, { prompt: 'Por favor selecciona una opción' }, class: 'form-control input-width' %>
                  </div>

                  <div class="form-group">
                    <%= s.label :second_major_id, 'Otra carrera (opcional)'  %>
                    <%= s.select :second_major_id, Major.all.map { |major| [major.major_name, major.id] }, { prompt: 'Por favor selecciona una opción' }, class: 'form-control input-width' %>
                  </div>

                  <div class="form-group">
                    <%= s.label :second_ed_level_id, 'Nivel de otra carrera (opcional)' %>
                    <%= s.select :second_ed_level_id, EducationLevel.all.map { |ed_level| [ed_level.level_name, ed_level.id] }, { prompt: 'Por favor selecciona una opción' }, class: 'form-control input-width' %>
                  </div>

                  <hr/>

                  <div class="form-group">
                    <%= s.label 'Otra carrera(s):' %>
                    <%= s.collection_select :major_ids, Major.all, :id, :major_name, {}, { multiple: true } %>
                  </div>

                  <div class="form-group">
                    <%= s.label :last_semester, 'Ultimo semestre cursado:' %>
                    <%= s.select :last_semester, Student::LAST_SEMESTER, { prompt: 'Por favor selecciona una opción' }, class: 'form-control input-width' %>
                  </div>

                  <div class="form-group">
                    <%= s.label :gpa_max, 'Calificación máxima en tu universidad' %>
                    <%= s.number_field :gpa_max, max: 100, min: 0, class: 'form-control input-width' %>
                  </div>

                  <div class="form-group">
                    <%= s.label :gpa, 'Promedio académico acumulado' %>
                    <%= s.number_field :gpa, in: 1.0..5.0, step: 0.1, class: 'form-control input-width' %>
                  </div>

                  <div class="form-group">
                    <%= s.label :type_of_student, 'Tipo de estudiante' %><br />
                    <%= s.select :type_of_student, options_for_select(type_of_student_select_type, @user.student.type_of_student), { prompt: 'Por favor selecciona una opción' }, class: 'form-control input-width' %>
                  </div>

                  <div class="form-group">
                    <%= s.label :exchange_student, '¿Has realizado algún intercambio académico?' %><br />
                    <%= s.select :exchange_student, options_for_select(student_yes_no_select_type, @user.student.exchange_student), { prompt: 'Por favor selecciona una opción' }, class: 'form-control input-width' %>
                  </div>

                  <div class="form-group exchangeStudent">
                    <%= s.label :country_id, 'Indica el país en el cual realizaste el intercambio' %>
                    <%= s.select :country_id, Country.all.map { |country| [country.country_name, country.id] }, { prompt: 'Por favor selecciona una opción' }, class: 'form-control input-width' %>
                  </div>

                  <div class="form-group exchangeStudent">
                    <%= s.label :exchange_university, 'Indica el nombre de la universidad en la cual realizaste el intercambio' %>
                    <%= s.text_field :exchange_university, class: 'form-control input-width' %>
                  </div>

                  <div class="form-group">
                    <%= s.label :highschool, 'Indica el nombre del colegio del que te graduaste' %>
                    <%= s.text_field :highschool, class: 'form-control input-width' %>
                  </div>
              <% end %>
              <!-- ./Nested form (student) -->
            </div>
            <!-- ./Students: Education Info Wrapper -->

          </div>
          <!-- Education -->
        </div>
      </div>
      <!-- ./Personal & Education Info -->

      <!-- Work Experience -->
      <div id="pane2" class="tab-pane">
        <!-- Nested form (student) -->
        <%= f.fields_for :student, @user.student do |s| %>

            <div class="row">
              <div class="col-md-6">
                <h3>
                  Experiencia profesional
                </h3>

                <!-- Professional Experience Wrapper -->
                <div class="users-students-professional-xp-wrapper">
                  <div class="form-group">
                    <%= s.label :work_xp, '¿Tienes experiencia laboral?' %><br />
                    <%= s.select :work_xp, options_for_select(student_yes_no_select_type, @user.student.work_xp), { prompt: 'Por favor selecciona una opción' }, class: 'form-control input-width' %>
                  </div>

                  <hr />

                  <div class="form-group workXp">
                    <%= s.label :xp_company, 'Indica el nombre de la empresa en la que trabajaste' %>
                    <%= s.text_field :xp_company, class: 'form-control input-width' %>
                  </div>

                  <div class="form-group workXp">
                    <%= s.label :xp_position, 'Indica el nombre del cargo' %>
                    <%= s.text_field :xp_position, class: 'form-control input-width' %>
                  </div>

                  <div class="form-group workXp">
                    <%= s.label :xp_achievements, 'Indica tus funciones y logros en este cargo' %>
                    <%= s.text_area :xp_achievements, rows: 4, class: 'form-control input-width' %>
                  </div>

                  <!-- Second work experience -->

                  <hr class="secondWorkXp" />

                  <div class="form-group secondWorkXp">
                    <%= s.label :second_xp_company, 'Indica el nombre de la empresa en la que trabajaste' %>
                    <%= s.text_field :second_xp_company, class: 'form-control input-width' %>
                  </div>

                  <div class="form-group secondWorkXp">
                    <%= s.label :second_xp_position, 'Indica el nombre del cargo' %>
                    <%= s.text_field :second_xp_position, class: 'form-control input-width' %>
                  </div>

                  <div class="form-group secondWorkXp">
                    <%= s.label :second_xp_achievements, 'Indica tus funciones y logros en este cargo' %>
                    <%= s.text_area :second_xp_achievements, rows: 4, class: 'form-control input-width' %>
                  </div>

                  <!-- Third work experience -->

                  <hr class="thirdWorkXp" />

                  <div class="form-group thirdWorkXp">
                    <%= s.label :third_xp_company, 'Indica el nombre de la empresa en la que trabajaste' %>
                    <%= s.text_field :third_xp_company, class: 'form-control input-width' %>
                  </div>

                  <div class="form-group thirdWorkXp">
                    <%= s.label :third_xp_position, 'Indica el nombre del cargo' %>
                    <%= s.text_field :third_xp_position, class: 'form-control input-width' %>
                  </div>

                  <div class="form-group thirdWorkXp">
                    <%= s.label :third_xp_achievements, 'Indica tus funciones y logros en este cargo' %>
                    <%= s.text_area :third_xp_achievements, rows: 4, class: 'form-control input-width' %>
                  </div>

                  <%= link_to 'Agregar otra', '#', class: 'btn btn-primary btn-studnet-basic pull-right workXp add-work-xp-btn' %>
                </div>
                <!-- ./Professional Experience Wrapper -->
              </div>

              <div class="col-md-6">
                <h3>
                  Otras experiencias
                </h3>

                <!-- Other Experience Wrapper -->
                <div class="users-students-other-xp-wrapper">
                  <div class="form-group">
                    <%= s.label :volunteer_xp, '¿Realizas o has realizado una actividad social / de voluntariado?' %><br />
                    <%= s.select :volunteer_xp, options_for_select(student_yes_no_select_type, @user.student.volunteer_xp), { prompt: 'Por favor selecciona una opción' }, class: 'form-control input-width' %>
                  </div>

                  <hr />

                  <div class="form-group volunteerXp">
                    <%= s.label :volunteer_org, 'Indica el nombre de la organización en la que trabajaste' %>
                    <%= s.text_field :volunteer_org, class: 'form-control input-width' %>
                  </div>

                  <div class="form-group volunteerXp">
                    <%= s.label :volunteer_functions, 'Indica tus funciones y logros en esta organización ' %>
                    <%= s.text_area :volunteer_functions, rows: 4, class: 'form-control input-width' %>
                  </div>

                  <hr class="secondVolunteerXp" />

                  <div class="form-group secondVolunteerXp">
                    <%= s.label :second_volunteer_org, 'Indica el nombre de la organización en la que trabajaste' %>
                    <%= s.text_field :second_volunteer_org, class: 'form-control input-width' %>
                  </div>

                  <div class="form-group secondVolunteerXp">
                    <%= s.label :second_volunteer_functions, 'Indica tus funciones y logros en esta organización ' %>
                    <%= s.text_area :second_volunteer_functions, rows: 4, class: 'form-control input-width' %>
                  </div>

                  <hr class="thirdVolunteerXp" />

                  <div class="form-group thirdVolunteerXp">
                    <%= s.label :third_volunteer_org, 'Indica el nombre de la organización en la que trabajaste' %>
                    <%= s.text_field :third_volunteer_org, class: 'form-control input-width' %>
                  </div>

                  <div class="form-group thirdVolunteerXp">
                    <%= s.label :third_volunteer_functions, 'Indica tus funciones y logros en esta organización ' %>
                    <%= s.text_area :third_volunteer_functions, rows: 4, class: 'form-control input-width' %>
                  </div>

                  <%= link_to 'Agregar otra', '#', class: 'btn btn-primary btn-studnet-basic pull-right volunteerXp add-volunteer-xp-btn' %>
                </div>
                <!-- ./Other Experience Wrapper -->
              </div>
            </div>

        <% end %>
        <!-- ./Nested form (student) -->
      </div>
      <!-- ./Work Experience -->

      <!-- Skills -->
      <div id="pane3" class="tab-pane">
        <!-- Nested form (student) -->
        <%= f.fields_for :student, @user.student do |s| %>

            <div class="row">
              <!-- Spoken Languages & Programming Languages-->
              <div class="col-md-6">
                <h3>
                  Idiomas
                </h3>

                <div class="languages-container">
                  <%= s.fields_for :learnt_languages, @user.student.learnt_languages do |l| %>
                      <%= render partial: 'users/student/student_language_fields', locals: { l: l } %>
                  <% end %>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <%= link_to 'Agregar otro', build_learnt_language_user_path(@user), class: 'btn btn-primary btn-studnet-basic btn-add-other-language', method: :post, remote: :true %>
                    </div>
                  </div>
                </div>

              </div>
              <!-- ./Spoken Languages & Programming Languages-->

              <!-- Tools & Other skills -->
              <div class="col-md-6">
                <h3>
                  Herramientas
                </h3>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <%= s.label :tools_ids, '¿Cuáles de estas herramientas sabes usar?' %>
                      <%= s.collection_check_boxes :tool_ids, Tool.all, :id, :tool_name do |b| %>
                          <div class="collection-check-box">
                            <%= b.check_box %>
                            <%= b.label %>
                          </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ./Tools & Other skills -->
            </div>

            <div class="row">
              <!-- Programming Languages-->
              <div class="col-md-6">
                <h3>
                  Lenguajes de programación
                </h3>

                <div class="row">
                  <div class="col-md-12">
                    <div class="users-students-skills-wrapper">

                      <div class="form-group">
                        <%= s.label :programming_skills, '¿Sabes programar?' %>
                        <%= s.select :programming_skills, options_for_select(student_yes_no_select_type, @user.student.programming_skills), { prompt: 'Por favor selecciona una opción' }, class: 'form-control input-width' %>
                      </div>

                      <div class="form-group" id="programmingLanguages">
                        <%= s.label :programing_languages, 'Indica en qué lenguajes sabes programar' %>
                        <%= s.text_area :programing_languages, rows: 3, class: 'form-control input-width' %>
                      </div>

                    </div>
                  </div>
                </div>

              </div>
              <!-- ./Programming Languages-->

              <!-- Tools & Other skills-->
              <div class="col-md-6">
                <h3>
                  Otras herramientas y habilidades
                </h3>

                <div class="form-group">
                  <%= s.label :other_tools_skills, '¿Qué otras herramientas sabes manejar / qué otras habilidades tienes?' %>
                  <%= s.text_area :other_tools_skills, rows: 6,class: 'form-control input-width' %>
                </div>
              </div>
              <!-- ./Tools & Other skills -->

            </div>
        <% end %>
        <!-- Nested form (student) -->
      </div>
      <!-- ./Skills -->

      <!-- Description -->
      <div id="pane4" class="tab-pane">
        <!-- Nested form (student) -->
        <%= f.fields_for :student, @user.student do |s| %>
            <!-- Description Wrapper -->
            <div class="users-students-skills-wrapper">

              <div class="row">
                <div class="col-md-6">
                  <h3>
                    Descripción
                  </h3>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">

                  <div class="form-group">
                    <%= s.label :strengths, '¿Cuáles son tus principales fortalezas?' %>
                    <%= s.text_area :strengths, rows: 5, class: 'form-control input-width' %>
                  </div>

                  <div class="form-group">
                    <%= s.label :areas_to_develop, '¿En qué áreas te gustaría desarrollar tu carrera profesional?' %>
                    <%= s.text_area :areas_to_develop, rows: 5, class: 'form-control input-width' %>
                  </div>

                  <div class="form-group">
                    <%= s.label :hobbies, 'Describe brevemente tus intereses, tus hobbies y demás información que describa quién eres:' %>
                    <%= s.text_area :hobbies, rows: 5, class: 'form-control input-width' %>
                  </div>

                </div>
              </div>
            </div>
            <!-- ./Description Wrapper -->
        <% end %>
      </div>
      <!-- ./Description -->

      <!-- Other -->
      <div id="pane5" class="tab-pane">
        <!-- Nested form (student) -->
        <%= f.fields_for :student, @user.student do |s| %>
            <!-- Description Wrapper -->
            <div class="users-students-others-wrapper">
              <div class="row">
                <div class="col-md-6">
                  <h3>
                    Otros
                  </h3>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">

                  <div class="form-group">
                    <%= f.label :referenced_by, '¿Cómo te enteraste de studNet?' %><br />
                    <%= f.select :referenced_by, options_for_select(student_referenced_by_select_type, @user.referenced_by), { prompt: 'Por favor selecciona una opción' }, class: 'form-control input-width' %>
                  </div>

                  <div class="form-group">
                    <%= f.label :promo_id, 'Código promocional' %><br />
                    <%= f.text_field :promo_id, class: 'form-control input-width' %>
                  </div>

                </div>
              </div>
            </div>
            <!-- Description Wrapper -->
        <% end %>
      </div>
      <!-- ./Other -->

      <div class="actions actions-margin-top text-right">
        <%= f.submit 'Guardar', class: 'btn btn-primary btn-studnet-basic' %>
      </div>
    </div>
<% end %>

<script>
  var current_exchange_student_val = <%= @user.student.exchange_student.to_i %>;
  var current_work_xp_val = <%= @user.student.work_xp.to_i %>;
  var current_volunteer_xp_val = <%= @user.student.volunteer_xp.to_i %>;
  var current_programming_skills_val = <%= @user.student.programming_skills.to_i %>;
  var current_major_val = '<%= @user.student.major.major_name %>';
  var current_university_val = '<%= @user.student.university.university_name %>';
  var has_second_work_xp = <%= @user.student.has_second_work_xp? %>;
  var has_third_work_xp = <%= @user.student.has_third_work_xp? %>;
  var has_second_volunteer_xp = <%= @user.student.has_second_volunteer_xp? %>;
  var has_third_volunteer_xp = <%= @user.student.has_third_volunteer_xp? %>;

  // Function for eduaction
  if (current_major_val == 'Otra') {
    elementVisible("#otherMajor", true);
  } else {
    elementVisible("#otherMajor", false);
  }

  if (current_university_val == 'Otra') {
    elementVisible("#otherUniversity", true);
  } else {
    elementVisible("#otherUniversity", false);
  }

  $("#user_student_attributes_university_id").change(function() {
    if ($(this).find("option:selected").text() == 'Otra') {
      elementVisible("#otherUniversity", true);
    } else {
      elementVisible("#otherUniversity", false);
    }
  });

  $("#user_student_attributes_major_id").change(function() {
    if ($(this).find("option:selected").text() == 'Otra') {
      elementVisible("#otherMajor", true);
    } else {
      elementVisible("#otherMajor", false);
    }
  });

  if (current_exchange_student_val == 1) {
    elementVisible('.exchangeStudent', true);
  } else if ( $('#user_student_attributes_exchange_student').val() == 0 ) {
    elementVisible('.exchangeStudent', false);
  }

  $('#user_student_attributes_exchange_student').change(function(){
    if ( $(this).val() == 1 ) {
      elementVisible('.exchangeStudent', true);
    } else if ( $(this).val() == 0 ) {
      elementVisible('.exchangeStudent', false);
    }
  });

  // Function for work_xp Select
  if ( current_work_xp_val == 1 ) {
    $('.workXp').show();
  } else if ( $('#user_student_attributes_work_xp').val() == 0 ) {
    $('.workXp').hide();
  }

  if (has_second_work_xp) {
    elementVisible(".secondWorkXp", true);
  } else {
    elementVisible(".secondWorkXp", false);
  }

  if (has_third_work_xp) {
    elementVisible(".thirdWorkXp", true);
    elementVisible(".add-work-xp-btn", false);
  } else {
    elementVisible(".thirdWorkXp", false);
  }

  $('#user_student_attributes_work_xp').change(function(){
    if ( $(this).val() == 1 ) {
      elementVisible('.workXp', true);
    } else if ( $(this).val() == 0 ) {
      elementVisible('.workXp', false);
    }
  });

  $(".add-work-xp-btn").click(function(e) {
    e.preventDefault();

    var secondXpHidden = $(".secondWorkXp").is(":hidden");
    var thirdXpHidden = $(".thirdWorkXp").is(":hidden");

    if (secondXpHidden) {
      elementVisible(".secondWorkXp", true);
      secondXpHidden = false;
    } else if (thirdXpHidden) {
      elementVisible(".thirdWorkXp", true);
      thirdXpHidden = false;
    }

    if (!secondXpHidden && !thirdXpHidden) {
      $(this).hide();
    }
  });

  // Function for volunteer_xp Select
  if ( current_volunteer_xp_val == 1 ) {
    elementVisible('.volunteerXp', true);
  } else if ( $('#user_student_attributes_volunteer_xp').val() == 0 ) {
    elementVisible('.volunteerXp', false);
  }

  if (has_second_volunteer_xp) {
    elementVisible(".secondVolunteerXp", true);
  } else {
    elementVisible(".secondVolunteerXp", false);
  }

  if (has_third_volunteer_xp) {
    elementVisible(".thirdVolunteerXp", true);
    elementVisible(".add-volunteer-xp-btn", false);
  } else {
    elementVisible(".thirdVolunteerXp", false);
  }

  $('#user_student_attributes_volunteer_xp').change(function(){
    if ( $(this).val() == 1 ) {
      elementVisible('.volunteerXp', true);
    } else if ( $(this).val() == 0 ) {
      elementVisible('.volunteerXp', false);
    }
  });

  $(".add-volunteer-xp-btn").click(function(e) {
    e.preventDefault();

    var secondXpHidden = $(".secondVolunteerXp").is(":hidden");
    var thirdXpHidden = $(".thirdVolunteerXp").is(":hidden");

    if (secondXpHidden) {
      elementVisible(".secondVolunteerXp", true);
      secondXpHidden = false;
    } else if (thirdXpHidden) {
      elementVisible(".thirdVolunteerXp", true);
      thirdXpHidden = false;
    }

    if (!secondXpHidden && !thirdXpHidden) {
      $(this).hide();
    }
  });

  // Function for programming_languages Select
  if ( current_programming_skills_val == 1 ) {
    elementVisible('#programmingLanguages', true);
  } else if ( $('#user_student_attributes_programming_skills').val() == 0 ) {
    elementVisible('#programmingLanguages', false);
  }

  $('#user_student_attributes_programming_skills').change(function(){
    if ( $(this).val() == 1 ) {
      elementVisible('#programmingLanguages', true);
    } else if ( $(this).val() == 0 ) {
      elementVisible('#programmingLanguages', false);
    }
  });
</script>
