<!--p id="notice"><%= notice %></p-->

<section class="studNet-wrapper">
  <div class="container">

    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center studNet-form">

        <%= form_for(@user) do |f| %>
            <% if @user.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@user.errors.count, "error") %> no permitieron que los datos del usuario fueran guardados:</h2>

                  <ul>
                    <% @user.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>

            <h3>
              Información Personal
            </h3>

            <div class="form-group">
              <%= f.label :first_name, 'Nombre(s)' %><br>
              <%= f.text_field :first_name, class: 'form-control input-width' %>
            </div>

            <div class="form-group">
              <%= f.label :last_name, 'Apellidos' %><br>
              <%= f.text_field :last_name, class: 'form-control input-width' %>
            </div>

            <div class="form-group">
              <%= f.label :date_of_birth, 'Fecha de nacimiento' %><br>
              <%= f.date_select :date_of_birth, { start_year: Time.now.year - 18, end_year: Time.now.year - 90 }, { class: 'form-control input-width' } %>
            </div>

            <div class="form-group">
              <%= f.label :document_number, 'Documento de identidad' %><br>
              <%= f.text_field :document_number, class: 'form-control input-width' %>
            </div>

            <div class="form-group">
              <%= f.label :mobile_phone, 'Número de contacto' %><br>
              <%= f.text_field :mobile_phone, class: 'form-control input-width' %>
            </div>

            <div class="form-group">
              <%= f.label :city_id, 'Ciudad' %><br>
              <%= f.select :city_id, City.all.map { |city| [city.city_name, city.id] }, { prompt: 'Por favor selecciona una opción' }, class: 'form-control input-width' %>
            </div>

            <div class="form-group">
              <%= f.label :country_id, 'Pais' %><br>
              <%= f.select :country_id, Country.all.map { |country| [country.country_name, country.id] }, { prompt: 'Por favor selecciona una opción' }, class: 'form-control input-width' %>
            </div>

            <div class="actions text-right">
              <%= f.submit 'Agregar Información', class: 'btn btn-primary btn-studnet-basic' %>
            </div>
        <% end %>

      </div>
    </div>

  </div>
</section>




