<section class="studNet-wrapper profile-wrapper">
  <div class="container">

    <% if @user.role_id == 2 %>

        <!-- Student Edit -->
        <div class="row">
          <div class="col-md-10 col-md-offset-1 student-edit-wrapper">

            <h3>
              Student Form
            </h3>

            <div class="tabbable student-tab-wrapper">
              <!--  -->
              <ul class="nav nav-tabs student-nav-tabs">
                <li class="active">
                  <a href="#pane1" data-toggle="tab">
                    Información personal y educación
                  </a>
                </li>

                <li>
                  <a href="#pane2" data-toggle="tab">
                    Experiencia laboral
                  </a>
                </li>

                <li>
                  <a href="#pane3" data-toggle="tab">
                    Habilidades
                  </a>
                </li>

                <li>
                  <a href="#pane4" data-toggle="tab">
                    Descripción
                  </a>
                </li>
                <li>
                  <a href="#pane5" data-toggle="tab">
                    Otros
                  </a>
                </li>
              </ul>

              <%= render 'users/student_form' %>

              <!-- /.tab-content -->
            </div>
            <!-- /.tabbable -->


          </div>
        </div>
        <!-- ./Student Edit -->

    <% elsif @user.role_id == 3 %>

        <!-- Company Edit -->
        <div class="row">
          <div class="col-md-10 col-md-offset-1 student-edit-wrapper">

            <%= render 'users/company_form' %>

          </div>
        </div>
        <!-- ./Company Edit -->

    <% elsif @user.role_id == 4 %>

        <!-- Company Edit -->
        <div class="row">
          <div class="col-md-10 col-md-offset-1 student-edit-wrapper">

            <%= render 'users/person_form' %>

          </div>
        </div>
        <!-- Company Edit -->

    <% end %>
  </div>
</section>


<script type="text/javascript">

  //=======================
  // Display/Hide options
  //=======================

  $(function() {

    select_value = [];

    // Variables
    current_exchange_student_val = <%= @user.student.exchange_student.to_i %>
    current_work_xp_val = <%= @user.student.work_xp.to_i %>
    current_volunteer_xp_val = <%= @user.student.volunteer_xp.to_i %>
    current_programming_skills_val = <%= @user.student.programming_skills.to_i %>


    // Function for exchange_student Select
    if ( current_exchange_student_val == 1 ) {
      $('.exchangeStudent').show();
    } else if ( $('#user_student_attributes_exchange_student').val() == 0 ) {
      $('.exchangeStudent').hide();
    }

    function displayExchangeStudent() {
      $('#user_student_attributes_exchange_student').change(function(){
        if ( $('#user_student_attributes_exchange_student').val() == 1 ) {
          $('.exchangeStudent').show();
        } else if ( $('#user_student_attributes_exchange_student').val() == 0 ) {
          $('.exchangeStudent').hide();
        }

      });

      $('#user_student_attributes_exchange_student').val();

    }

    // Function for work_xp Select
    if ( current_work_xp_val == 1 ) {
      $('.workXp').show();
    } else if ( $('#user_student_attributes_work_xp').val() == 0 ) {
      $('.workXp').hide();
    }

    function displayWorkXp() {
      $('#user_student_attributes_work_xp').change(function(){
        if ( $('#user_student_attributes_work_xp').val() == 1 ) {
          $('.workXp').show();
        } else if ( $('#user_student_attributes_work_xp').val() == 0 ) {
          $('.workXp').hide();
        }

      });

      $('#user_student_attributes_work_xp').val();

    }


    // Function for volunteer_xp Select
    if ( current_volunteer_xp_val == 1 ) {
      $('.volunteerXp').show();
    } else if ( $('#user_student_attributes_volunteer_xp').val() == 0 ) {
      $('.volunteerXp').hide();
    }

    function displayVolunteerXp() {
      $('#user_student_attributes_volunteer_xp').change(function(){
        if ( $('#user_student_attributes_volunteer_xp').val() == 1 ) {
          $('.volunteerXp').show();
        } else if ( $('#user_student_attributes_volunteer_xp').val() == 0 ) {
          $('.volunteerXp').hide();
        }

      });

      $('#user_student_attributes_volunteer_xp').val();

    }

    // Function for programming_languages Select
    if ( current_programming_skills_val == 1 ) {
      $('#programmingLanguages').show();
    } else if ( $('#user_student_attributes_programming_skills').val() == 0 ) {
      $('#programmingLanguages').hide();
    }

    function displayProgrammingLanguages() {
      $('#user_student_attributes_programming_skills').change(function(){
        if ( $('#user_student_attributes_programming_skills').val() == 1 ) {
          $('#programmingLanguages').show();
        } else if ( $('#user_student_attributes_programming_skills').val() == 0 ) {
          $('#programmingLanguages').hide();
        }

      });

      $('#user_student_attributes_programming_skills').val();

    }

    // Call functions
    displayExchangeStudent();
    displayWorkXp();
    displayVolunteerXp();
    displayProgrammingLanguages();

  });


  //=======================
  // Select2
  //=======================

  /* Student */
  $('#user_student_attributes_university_id').select2();
  $('#user_student_attributes_major_id').select2();
  $('#user_student_attributes_ed_level_id').select2();
  $('#user_student_attributes_last_semester').select2();

  $('#user_date_of_birth_1i').select2();
  $('#user_date_of_birth_2i').select2();
  $('#user_date_of_birth_3i').select2();

  $('#user_city_id').select2();
  $('#user_country_id').select2();
  $('#user_student_attributes_country_id').select2();

  $('#user_student_attributes_language_id').select2();
  $('#user_student_attributes_language_level').select2();

  $('#user_referenced_by').select2();

  /* Company */
  $('#user_company_attributes_company_sector_id').select2();
  $('#user_company_attributes_company_size').select2();

</script>