 <section class="devise-wrapper">

  <div class="container">
    <div class="col-md-6 col-md-offset-3 text-center admin-form">

      <h2>
        Selecciona tu contraseña
      </h2>

      <!-- Form -->
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>

          <% if signed_in? %>
              <div class="form-group">
                <%= f.label :current_password, 'Contraseña actual' %> <i>(we need your current password to confirm your changes)</i><br />
                <%= f.password_field :current_password, autocomplete: 'off', class: 'form-control input-width' %>
              </div>
          <% end %>

          <div class="form-group">
            <%= f.label :password, 'Contraseña nueva' %><br />
            <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em><br />
            <% end %>
            <%= f.password_field :password, autofocus: true, autocomplete: 'off', class: 'form-control input-width' %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, 'Confirmar contraseña' %><br />
            <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control input-width' %>
          </div>

          <div class="actions text-right">
            <%= f.submit 'Cambiar mi contraseña', class: 'btn btn-primary btn-studnet-basic' %>
          </div>
      <% end %>

      <div class="text-right">
        <%= render 'devise/shared/links' %>
      </div>
      <!-- Form -->
    </div>
  </div>

</section>