 <%= form_with(model: notification_post, local: true) do |form| %>
    <%= render partial: 'shared/error_messages', locals: { object: @notification_post } %>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= form.label :nombre %>
           <%= form.text_field :name, id: :notification_post_name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :cuerpo %>
          <%= form.text_area :body, id: :notification_post_body , class: 'form-control' %>
        </div>
        </div>
</div>
        
    <div class="row">
      <div class="col-md-12 text-center">
       <%= form.hidden_field :user_id, id: :notification_post_user_id %>
        <div class="actions">
           <%= form.submit 'Crear Notificación', class: 'btn btn-primary btn-studnet-basic' %>
        </div>
      </div>
    </div>

<% end %>
