<p id="notice"><%= notice %></p>
<section class="studNet-wrapper">
  <div class="container">

    <div class="row">
      <div class="col-md-12">

        <h1>Lista de notificaciones</h1>

        <table class="table">
          <thead>
          <tr>
             <th>Nombre</th>
             <th>Cuerpo</th>
             <th>Usuario</th>
             <th colspan="3"></th>
          </tr>
          </thead>

          <tbody>
           <% @notification_posts.each do |notification_post| %>
            <tr>
              <td><%= notification_post.name %></td>
              <td><%= notification_post.body %></td>
              <td><%= notification_post.user.first_name %></td>
              <td><%= link_to 'Espectáculo', notification_post, class: 'btn btn-default btn-studnet-details' %></td>
              <td><%= link_to 'Editar', edit_notification_post_path(notification_post), class: 'btn btn-default btn-studnet-details' %></td>
              <td><%= link_to 'Destruir', notification_post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-studnet-details' %></td>
            </tr>
          <% end %>
          </tbody>
        </table>

        <%= paginate @notification_posts %>

      </div>
    </div>
    <%= link_to 'Nuevo mensaje de notificación', new_notification_post_path %>
  </div>
</section>
