<%= form_for(@company) do |f| %>
    <%= render 'shared/error_messages', object: @company %>

    <div class="field">
      <%= f.label :company_name %><br>
      <%= f.text_field :company_name %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
