<section class="devise-wrapper">
  <div class="companies-signup-header margin-bot-40">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>
            Ver perfil de empresa
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="studNet-wrapper student-tab-wrapper padding-bot-40">
  <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-offset-1 student-tab-content company-tab-content">

        <!-- Company Info -->
        <div class="row">
          <!-- Contact Info -->
          <div class="col-md-6">
            <h3>
              Datos de contacto
            </h3>

            <table class="table studNet-table">
              <tbody>

              <tr>
                <td>
                  Nombre:
                </td>
                <td>
                  <%= "#{@company.user.first_name} #{@company.user.last_name}" %>
                </td>
              </tr>

              <tr>
                <td>
                  Cargo:
                </td>
                <td>
                  <%= @company.position %>
                </td>
              </tr>

              <tr>
                <td>
                  Correo:
                </td>
                <td>
                  <%= @company.user.email %>
                </td>
              </tr>

              <tr>
                <td>
                  Teléfono de contacto:
                </td>
                <td>
                  <%= @company.user.mobile_phone %>
                </td>
              </tr>

              <tr>
                <td>
                  Dirección:
                </td>
                <td>
                  <%= @company.company_address %>
                </td>
              </tr>

              <tr>
                <td>
                  Ubicación:
                </td>
                <td>
                  <%= @company.user.definitive_location %>
                </td>
              </tr>

              </tbody>
            </table>

          </div>
          <!-- Contact Info -->

          <!-- Company Info -->
          <div class="col-md-6">
            <h3>
              Información de la empresa
            </h3>

            <table class="table studNet-table">
              <tbody>

              <tr>
                <td>
                  Nombre de la empresa:
                </td>
                <td>
                  <%= @company.company_name %>
                </td>
              </tr>

              <tr>
                <td>
                  NIT:
                </td>
                <td>
                  <%= @company.company_nit %>
                </td>
              </tr>

              <tr>
                <td>
                  Descripción de la empresa:
                </td>
                <td>
                  <%= @company.company_description %>
                </td>
              </tr>

              <tr>
                <td>
                  Sector:
                </td>
                <td>
                  <% unless @company.company_sector_id.nil? %>
                      <%= @company.sector.sector_name %>
                  <% end %>
                </td>
              </tr>

              <tr>
                <td>
                  Tamaño:
                </td>
                <td>
                  <%= @company.company_size %>
                </td>
              </tr>

              <tr>
                <td>
                  Página Web:
                </td>
                <td>
                  <%= link_to "#{@company.company_website_url}", "http://#{@company.company_website_url}", target: '_blank' %>
                </td>
              </tr>

              </tbody>
            </table>

          </div>
          <!-- Company Info -->
        </div>
        <!-- ./Company Info -->
      </div>
    </div>

    <% if user_signed_in? %>
        <!-- Actions -->
        <div class="row">
          <div class="col-md-12 student-actions-wrapper text-center">
            <%= link_to 'Editar perfil', edit_user_path(current_user.id), class: 'btn btn-primary btn-studnet-basic' %>

            <% unless @company.user.profile_incomplete? %>
                <%= link_to 'Crear oferta', new_opportunity_path, class: 'btn btn-primary btn-studnet-basic' %>
            <% end %>
          </div>
        </div>
        <!-- ./Actions-->
    <% end %>

  </div>
</section>