<script>
    $(window).on('load',function(){
        $('#admin').modal('show');
    });
</script>
<% if session[:showAdmin]==true %>
    <div data-target="#admin">
    </div>
    <!-- Modal -->
    <div class="modal fade" id="admin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title " id="exampleModalLongTitle">Información</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Aquí encontrarás la información correspondiente a la empresa
          </div>
          <div class="modal-footer">
            <button id="closePopup" type="button" class="pull-right btn btn-primary btn-studnet-basic"  data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
<%end %>
<script>
    $( "#closePopup" ).click(function()
    {   '<%= session["showAdmin"]=false %>';
    });
</script>



<script>
    $(window).on('load',function(){
        $('#info').modal('show');
    });
</script>
<% if session[:company_role] == true %>
    <div data-target="#info">
    </div>
    <!-- Modal -->
    <div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title " id="exampleModalLongTitle">Información</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Por favor completa la información de tu perfil para crear y publicar ofertas.
          </div>
          <div class="modal-footer">
            <button id="closePop" type="button" class="pull-right btn btn-primary btn-studnet-basic"  data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
<%end %>
<script>
    $( "#closePop").click(function()
    {   '<%= session["info"]=false %>';
    });
</script>
<script>
    $(window).on('load',function(){
        $('#editCompany').modal('show');
    });
</script>
<% if session[:company] == true %>
    <div data-target="#editCompany">
    </div>
    <!-- Modal -->
    <div class="modal fade" id="editCompany" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title " id="exampleModalLongTitle">Actualización</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Has actualizado tus datos.
          </div>
          <div class="modal-footer">
            <button id="closePop" type="button" class="pull-right btn btn-primary btn-studnet-basic"  data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
<%end %>
<script>
    $( "#closePop").click(function()
    {   '<%= session["company"]=false %>';
    });
</script>
<section class="devise-wrapper">
  <div class="companies-signup-header margin-bot-40">
    
  </div>
</section>

<section class="studNet-wrapper student-tab-wrapper padding-bot-40">
  <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-offset-1 student-tab-content company-tab-content" style="margin-top: 45px;">

        <!-- Company Info -->
        <div class="row">
          <!-- Contact Info -->
          <div class="col-md-6">
            <h3>
              Datos de contacto
            </h3>

            <table class="table studNet-table">
              <tbody>

              <tr>
                <td>
                  Nombre:
                </td>
                <td>
                  <%= "#{@company.user.first_name} #{@company.user.last_name}" %>
                </td>
              </tr>

              <tr>
                <td>
                  Cargo:
                </td>
                <td>
                  <%= @company.position %>
                </td>
              </tr>

              <tr>
                <td>
                  Correo:
                </td>
                <td>
                  <%= @company.user.email %>
                </td>
              </tr>

              <tr>
                <td>
                  Teléfono de contacto:
                </td>
                <td>
                  <%= @company.user.mobile_phone %>
                </td>
              </tr>

              <tr>
                <td>
                  Dirección:
                </td>
                <td>
                  <%= @company.company_address %>
                </td>
              </tr>

              <tr>
                <td>
                  Ubicación:
                </td>
                <td>
                  <%= @company.user.definitive_location %>
                </td>
              </tr>
              <tr>
                <td>
                  Credits:
                </td>
                <td>
                  <%= @company.user.credits + " Datos de Contacto" %>
                </td>
              </tr>

              </tbody>
            </table>

          </div>
          <!-- Contact Info -->

          <!-- Company Info -->
          <div class="col-md-6">
            <h3>
              Información de la empresa
            </h3>

            <table class="table studNet-table">
              <tbody>

              <tr>
                <td>
                  Nombre de la empresa:
                </td>
                <td>
                  <%= @company.company_name %>
                </td>
              </tr>

              <tr>
                <td>
                  NIT:
                </td>
                <td>
                  <%= @company.company_nit %>
                </td>
              </tr>

              <tr>
                <td>
                  Descripción de la empresa:
                </td>
                <td>
                  <%= @company.company_description %>
                </td>
              </tr>

              <tr>
                <td>
                  Sector:
                </td>
                <td>
                  <% unless @company.company_sector_id.nil? %>
                      <%= @company.sector.sector_name %>
                  <% end %>
                </td>
              </tr>

              <tr>
                <td>
                  Tamaño:
                </td>
                <td>
                  <%= @company.company_size %>
                </td>
              </tr>

              <tr>
                <td>
                  Página Web:
                </td>
                <td>
                  <%= link_to "#{@company.company_website_url}", "http://#{@company.company_website_url}", target: '_blank' %>
                </td>
              </tr>

              </tbody>
            </table>

          </div>
          <!-- Company Info -->
        </div>
        <!-- ./Company Info -->
      </div>
    </div>

    <% if user_signed_in? %>
        <!-- Actions -->
        <div class="row">
          <div class="col-md-12 student-actions-wrapper text-center">
            <%= link_to 'Editar perfil', edit_user_path(current_user.id), class: 'btn btn-primary btn-studnet-basic' %>

            <% unless @company.user.profile_incomplete? %>
                <%= link_to 'Crear oferta', new_opportunity_path, class: 'btn btn-primary btn-studnet-basic' %>
            <% end %>
          </div>
        </div>
        <!-- ./Actions-->
    <% end %>

  </div>
</section>

