<section class="studNet-wrapper student-tab-wrapper">
  <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-offset-1 student-tab-content">

        <!-- Company Info -->
        <div class="row">
          <!-- Contact Info -->
          <div class="col-md-6 text-center">
            <h3>
              Datos de contacto
            </h3>

            <table class="table studNet-table">
              <tbody>

              <tr>
                <td>
                  Nombre:
                </td>
                <td>
                  <%= "#{@user.first_name} #{@user.last_name}" %>
                </td>
              </tr>

              <tr>
                <td>
                  Cargo:
                </td>
                <td>
                  <%= @company.position %>
                </td>
              </tr>

              <tr>
                <td>
                  Email de tu cuenta:
                </td>
                <td>
                  <%= @user.email %>
                </td>
              </tr>

              <tr>
                <td>
                  Teléfono de tu cuenta:
                </td>
                <td>
                  <%= @user.mobile_phone %>
                </td>
              </tr>

              <tr>
                <td>
                  Dirección:
                </td>
                <td>
                  <%= @company.company_address %>
                </td>
              </tr>

              <tr>
                <td>
                  Ciudad:
                </td>
                <td>
                  <% unless @user.city_id.nil? %>
                      <%= @user.city.city_name %>
                  <% end %>
                </td>
              </tr>

              <tr>
                <td>
                  País:
                </td>
                <td>
                  <% unless @user.country_id.nil? %>
                      <%= @user.country.country_name %>
                  <% end %>
                </td>
              </tr>

              </tbody>
            </table>

          </div>
          <!-- Contact Info -->

          <!-- Company Info -->
          <div class="col-md-6 text-center">
            <h3>
              Información de la empresa:
            </h3>

            <table class="table studNet-table">
              <tbody>

              <tr>
                <td>
                  Nombre de la empresa:
                </td>
                <td>
                  <%= @company.company_name %>
                </td>
              </tr>

              <tr>
                <td>
                  NIT:
                </td>
                <td>
                  <%= @company.company_nit %>
                </td>
              </tr>

              <tr>
                <td>
                  Descripción de la empresa:
                </td>
                <td>
                  <%= @company.company_description %>
                </td>
              </tr>

              <tr>
                <td>
                  Sector:
                </td>
                <td>
                  <% unless @company.company_sector_id.nil? %>
                      <%= @company.sector.sector_name %>
                  <% end %>
                </td>
              </tr>

              <tr>
                <td>
                  Tamaño:
                </td>
                <td>
                  <%= @company.company_size %>
                </td>
              </tr>

              <tr>
                <td>
                  Página Web:
                </td>
                <td>
                  <%= link_to "#{@company.company_website_url}", "http://#{@company.company_website_url}", target: '_blank' %>
                </td>
              </tr>

              </tbody>
            </table>

          </div>
          <!-- Company Info -->
        </div>
        <!-- ./Company Info -->

        <!-- Actions -->
        <div class="row">
          <div class="col-md-12 text-center">
            <%= link_to 'Crear Oferta', new_opportunity_path, class: 'btn btn-primary btn-studnet-basic' %>
            <%= link_to 'Editar Perfil', edit_user_path(current_user.id), class: 'btn btn-primary btn-studnet-basic' %>
          </div>
        </div>
        <!-- ./Actions-->
      </div>
    </div>

  </div>
</section>