<p id="notice"><%= notice %></p>

<section class="studNet-wrapper profile-wrapper">
  <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-offset-1 studNet-form">

        <div class="row">
          <!-- Contact Info -->
          <div class="col-md-6">
            <h3>
              Datos de contacto
              <%= link_to edit_user_path(current_user.id) do |link| %>
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="glyphiconPencilSize"></span>
              <% end %>
            </h3>

            <p>
              Nombre(s):
              <%= @user.first_name %>
              <br>

              Apellidos:
              <%= @user.last_name %>
              <br>

              Cargo:
              <%= @company.position %>
              <br>

              Email de tu cuenta:
              <%= @user.email %>
              <br>

              Teléfono de tu cuenta:
              <%= @user.mobile_phone %>
              <br>

              Dirección:
              <%= @company.company_address %>
              <br>

              Ciudad:
              <% unless @user.city_id.nil? %>
                  <%= @user.city.city_name %>
              <% end %>
              <br>

              País:
              <% unless @user.country_id.nil? %>
                  <%= @user.country.country_name %>
              <% end %>
            </p>

          </div>
          <!-- Contact Info -->

          <!-- Company Info -->
          <div class="col-md-6">
            <h3>
              Información de la empresa:
              <%= link_to edit_user_path(current_user.id) do |link| %>
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true" id="glyphiconPencilSize"></span>
              <% end %>
            </h3>

            <p>
              Nombre de la empresa:
              <%= @company.company_name %>
              <br>

              NIT:
              <%= @company.company_nit %>
              <br>

              Breve descripción de tu empresa:
              <%= @company.company_description %>
              <br>

              Sector:
              <% unless @company.company_sector_id.nil? %>
                  <%#= TODO: Company/show - Fix nil:NilClass error %>
                  <%= @company.sector.sector_name %>
              <% end %>
              <br>

              Tamaño:
              <%= @company.company_size %>
              <br>

              Página Web:
              <%= @company.company_website_url %>
              <br>


            </p>

          </div>
          <!-- Company Info -->
        </div>

      </div>
    </div>

  </div>
</section>

