

<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "form-horizontal",:id => "contact_form"}) do |f| %>
<h2>

<% if params[:studnet].to_i == 2 %>

            ¿Quieres publicar una oferta? Ingresa como
            <%= link_to 'empresa / persona', new_user_session_path(studnet: 3) %>
      
      <% elsif params[:studnet].to_i == 3 || params[:studnet].to_i == 4 %>
 
                ¿Quieres aplicar a una oferta? Ingresa como
                <%= link_to 'estudiante', new_user_session_path(studnet: 2) %>
      
      <% else %>

                Por favor ingresa tu correo y contraseña para iniciar sesión en la plataforma
      
      <% end %>
</h2>
    <div class="form-group">
      <div class="input-group">
         <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
         <%= f.email_field :email, class: 'form-control',placeholder: "correo electrónico" %>
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      <%= f.password_field :password, autocomplete: 'off', placeholder: 'Contraseña', class: 'form-control' %>
     </div>
    </div>

    <div class="form-group">
  <div class="col-md-12 text-center">
   <%= f.submit 'Ingresar', class: 'btn btnregister' %>
  </div>
</div>
<% end %>


<div class="col-md-12 text-center marbot15px">
  <%= render 'devise/shared/links' %>
</div>
