<table class="table table-striped">
  <thead>
  <tr>
    <th>
      Oferente
    </th>
    <th>
      Nombre de la oferta
    </th>
    <th>
      Fecha de publicación
    </th>
    <th>
      Duración
    </th>
    <th>
      Tiempo requerido
    </th>
    <th>
      Salario / Valor
    </th>
    <th colspan="5">Acciones</th>
  </tr>
  </thead>

  <tbody>
  <% @opportunities.each do |opportunity| %>
      <tr>
        <td>
          <% if opportunity.user.company.nil? %>
              <%= "#{opportunity.user.first_name} #{opportunity.user.last_name}"  %>
          <% else %>
              <%= opportunity.user.company.company_name  %>
          <% end %>
        </td>
        <td>
          <%= opportunity.opportunity_title %>
        </td>
        <td>
          <%= opportunity.created_at.strftime('%d/%m/%Y') %>
        </td>
        <td>
          <%= opportunity.opportunity_duration %>
        </td>
        <td>
          <%= opportunity_availability_friendly(opportunity) %>
        </td>
        <td>
          <% if opportunity.opportunity_cost.nil? %>
              <%= 'Se permite ofertar' %>
          <% else %>
              <%= opportunity.opportunity_cost %>
          <% end %>
        </td>

        <td><%= link_to 'Detalles', opportunity_path(opportunity), class: 'btn btn-default btn-studnet' %></td>
        <% unless opportunity.approved_state %>
            <td><%= link_to 'Aprobar', approve_opportunity_path(opportunity), method: :post, class: 'btn btn-success btn-studnet' %></td>
        <% end %>
        <td><%= link_to 'Borrar', opportunity, method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-danger btn-studnet' %></td>

      </tr>
  <% end %>
  </tbody>
</table>