<script>
    $(window).on('load',function(){
        $('#role').modal('show');
    });
</script>
<% if session[:excel]==true %>
    <div data-target="#role">
    </div>
    <!-- Modal -->
    <div class="modal fade" id="role" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title " id="exampleModalLongTitle">Aviso</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Pronto le estará llegando un correo con el Excel adjunto.
          </div>
          <div class="modal-footer">
            <button id="closePopup" type="button" class="pull-right btn btn-primary btn-studnet-basic"  data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
<%end %>
<script>
    $( "#closePopup" ).click(function()
    {   '<%= session["excel"]=false %>';
    });
</script>


<section class="studNet-wrapper">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron text-center">
          <h2>Estadísticas</h2>

          <br/>

          <div class="row">
            <div class="col-md-3">
              <p class="no-margin"><strong>Estudiantes</strong></p>
              <p><%= @stats[:students] %></p>
            </div>

            <div class="col-md-3">
              <p class="no-margin"><strong>Personas</strong></p>
              <p><%= @stats[:people] %></p>
            </div>

            <div class="col-md-3">
              <p class="no-margin"><strong>Compañias</strong></p>
              <p><%= @stats[:companies] %></p>
            </div>

            <div class="col-md-3">
              <p class="no-margin"><strong>Ofertas activas</strong></p>
              <p><%= @stats[:active_offers] %></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- List of all opportunities -->
    <div class="row">
      <div class="col-md-12">

        <h2>
          Lista de Ofertas
        </h2>

        <%= render 'administrators/opportunities_table' %>

      </div>
    </div>
    <!-- ./List of all opportunities -->

  </div>
</section>
