<%= form_for(@opportunity) do |f| %>
    <%= render partial: 'shared/error_messages', locals: { object: @opportunity } %>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :opportunity_type, 'Tipo de oferta' %>
          <%= f.select :opportunity_type, options_for_select(opportunity_select_type), { prompt: 'Por favor selecciona una opción' }, class: 'form-control input-width' %>
        </div>

        <div class="form-group">
          <%= f.label :opportunity_title, 'Título de la oferta' %><br>
          <%= f.text_field :opportunity_title, class: 'form-control input-width' %>
        </div>

        <div class="form-group">
          <%= f.label :activity_description, 'Descripción de las actividades a realizar' %><br>
          <%= f.text_area :activity_description, rows: 5,class: 'form-control input-width' %>
        </div>

        <div class="form-group">
          <%= f.label :skills_description, 'Descripción de las habilidades y conocimientos requeridos' %><br>
          <%= f.text_area :skills_description, rows: 5, class: 'form-control input-width' %>
        </div>

        <div class="form-group">
          <h5>
            ¿Permitir aplicaciones de todas las carreras?
          </h5>
          <%= f.check_box :other_majors, class: 'checkbox-inline input-width' %>
          <%= f.label :other_majors, 'Sí' %><br>
        </div>

        <div class="form-group" id="opportunitySpecificMajor">
          <%= f.label 'Carrera(s):' %>
          <%= f.collection_select :major_ids, Major.all, :id, :major_name, { prompt: 'Por favor selecciona una opción' }, { multiple: true } %>
        </div>

        <div class="form-group">
          <%= f.label :question_for_student, 'Pregunta al estudiante' %><br>
          <%= f.text_field :question_for_student, class: 'form-control input-width' %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :date_ini_type, 'Inicio de la oferta' %><br />
          <%= f.select :date_ini_type, options_for_select(opportunity_date_ini_type_select, @opportunity.date_ini_type), { prompt: 'Por favor selecciona una opción' }, class: 'form-control input-width' %>
        </div>
        <div class="form-group" id="dateIni">
          <%= f.label :date_ini, 'Fecha de inicio del trabajo' %><br>
          <%= f.date_select :date_ini, { start_year: Time.now.year }, { class: 'form-control input-width' } %>
        </div>

        <div class="form-group">
          <%= f.label :opportunity_duration_type, 'Duración de la oferta' %><br />
          <%= f.select :opportunity_duration_type, options_for_select(opportunity_duration_type_select, @opportunity.opportunity_duration_type), { prompt: 'Por favor selecciona una opción' }, class: 'form-control input-width' %>
        </div>
        <div class="form-group" id="opportunityDurationType">
          <%= f.label :opportunity_duration, 'Duración del trabajo (en días, semanas o meses)' %><br>
          <%= f.text_field :opportunity_duration, class: 'form-control input-width' %>
        </div>

        <div class="form-group">
          <%= f.label :availability, 'Tiempo requerido del estudiante' %><br>
          <%= f.select :availability, options_for_select(opportunity_select_availability), { prompt: 'Por favor selecciona una opción' }, class: 'form-control input-width' %>
        </div>
        <div class="form-group" id="opportunityCostorOfferSelect">
          <%= f.label :cost_or_offer_option, '¿Quieres poner un valor para el proyecto o escuchar ofertas de los estudiantes?' %><br>
          <%= f.select :cost_or_offer_option, options_for_select(opportunity_select_cost_or_offer, @opportunity.cost_or_offer_option), { prompt: 'Por favor selecciona una opción' }, class: 'form-control input-width' %>
        </div>
        <div class="form-group" id="opportunityCost">
          <%= f.label :opportunity_cost, 'Salario / Valor del proyecto' %><br>
          <%= f.text_field :opportunity_cost, class: 'form-control input-width' %>
        </div>
        <div class="form-group">
          <h5>
            ¿Quieres recibir el portafolio de los estudiantes que apliquen a tu oferta?
          </h5>
          <%= f.check_box :receive_portfolio, class: 'checkbox-inline input-width' %>
          <%= f.label :receive_portfolio, 'Sí' %><br>
        </div>
        <div class="form-group">
          <%= f.label :number_of_students, '¿Cuántos estudiantes necesitas contratar para esta oferta?' %><br>
          <%= f.number_field :number_of_students, class: 'form-control input-width' %>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.hidden_field(:user_id, value: current_user.id) %>

        </div>
      </div>
    </div>

    <div class="actions">
      <% if current_page?(new_opportunity_path) %>
          <%= f.submit 'Crear oferta', class: 'btn btn-primary btn-studnet-basic' %>
      <% else %>
          <%= f.submit 'Editar oferta', class: 'btn btn-primary btn-studnet-basic' %>
      <% end %>
    </div>
<% end %>


<script type="text/javascript">

  //=======================
  // Display/Hide options
  //=======================

  $(function() {

    select_value = [];

    // Variables
    current_opportunity_type_val = <%= @opportunity.opportunity_type.to_i %>
        current_date_ini_type_val = <%= @opportunity.date_ini_type.to_i %>
            current_opportunity_duation_type_val = <%= @opportunity.opportunity_duration_type.to_i %>
                current_cost_or_offer_option_val = <%= @opportunity.cost_or_offer_option.to_i %>


    // Function current_opportunity_type_val cost_or_offer Select
    if ( current_cost_or_offer_option_val == 0 ) {
      $('#opportunityCost').show();
      $('#opportunityCostorOfferSelect').show();
    } else {
      $('#opportunityCost').hide();
      $('#opportunityCostorOfferSelect').hide();
    }

    function displayOpportunityType() {
      $('#opportunity_opportunity_type').change(function(){
        if ( $('#opportunity_opportunity_type').val() == 0 ) {
          $('#opportunityCost').show();
          $('#opportunityCostorOfferSelect').show();
        } else {
          $('#opportunityCost').show();
          $('#opportunityCostorOfferSelect').hide();
        }

      });

      $('#opportunity_opportunity_type').val();

    }

    // Function for cost_or_offer Select
    if ( current_cost_or_offer_option_val == 0 ) {
      $('#opportunityCost').show();
    } else {
      $('#opportunityCost').hide();
    }

    function displayOpportunityCost() {
      $('#opportunity_cost_or_offer_option').change(function(){
        if ( $('#opportunity_cost_or_offer_option').val() == 0 ) {
          $('#opportunityCost').show();
        } else {
          $('#opportunityCost').hide();
        }

      });

      $('#opportunity_cost_or_offer_option').val();

    }

    // Function for date_ini_type Select
    <%#= TODO: Refactor function upon page load, checbox is checked but hidden div is not displaying %>
    if ( current_date_ini_type_val == 2 ) {
      $('#dateIni').show();
    } else {
      $('#dateIni').hide();
    }

    function displaySetDateIni() {
      $('#opportunity_date_ini_type').change(function(){
        if ( $('#opportunity_date_ini_type').val() == 2 ) {
          $('#dateIni').show();
        } else {
          $('#dateIni').hide();
        }

      });

      $('#opportunity_date_ini_type').val();

    }

    // Function for date_ini_type Select
    if ( current_opportunity_duation_type_val == 1 ) {
      $('#opportunityDurationType').show();
    } else {
      $('#opportunityDurationType').hide();
    }

    function displaySetOpportunityDuration() {
      $('#opportunity_opportunity_duration_type').change(function(){
        if ( $('#opportunity_opportunity_duration_type').val() == 1 ) {
          $('#opportunityDurationType').show();
        } else {
          $('#opportunityDurationType').hide();
        }

      });

      $('#opportunity_opportunity_duration_type').val();

    }

    // Function for other_majors checkbox
    $('#opportunitySpecificMajor').show();

    function displaySpecificMajor() {
      $("#opportunity_other_majors").on( 'change', function() {
        if( $(this).is(':checked') ) {
          $("#opportunitySpecificMajor").hide();
        } else {
          console.log('esta chequeado');
          $("#opportunitySpecificMajor").show();
        }
      });
    }


    // Calling Functions
    displayOpportunityType();
    displayOpportunityCost();
    displaySetDateIni();
    displaySetOpportunityDuration();
    displaySpecificMajor();


    //========================
    // Select2
    //========================

    // Student
    $('select').select2({
      theme: "bootstrap"
    });

  });


</script>