<section class="devise-wrapper">
  <div class="students-show-view-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>
            Aplicar a oferta
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="studNet-wrapper student-tab-wrapper opportunity-wrapper padding-bot-40">
  <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-offset-1 student-tab-content margin-bot-20">

        <div class="row">
          <div class="col-md-6 margin-bot-20">
            <h3>
              Aplicar a
              <%= @opportunity.opportunity_title %>
            </h3>
          </div>
        </div>

        <%= form_for(@application, url: apply_opportunity_path(@opportunity), multipart: true) do |f| %>
            <% if @opportunity.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@opportunity.errors.count, "error") %> prohibited this opportunity from being saved:</h2>

                  <ul>
                    <% @opportunity.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>

            <div class="row">
              <div class="col-md-6">

                <div class="form-group">
                  <%= f.label :student_characteristics, '¿Qué características tienes que te hacen ideal para esta oferta?' %>
                  <%= f.text_area :student_characteristics, rows: 6, class: 'form-control input-width' %>
                </div>

                <div class="form-group">
                  <%= f.label :student_interests, '¿Por qué te interesa esta oferta?' %>
                  <%= f.text_area :student_interests, rows: 4, class: 'form-control input-width'  %>
                </div>

                <div class="form-group">
                  <% unless @opportunity.question_for_student.nil? %>
                      <strong>
                        Pregunta de la empresa:
                      </strong>
                      <%= f.label :student_answer, @opportunity.question_for_student %>
                      <%= f.text_area :student_answer, rows: 4, class: 'form-control input-width'  %>
                  <% end %>
                </div>

              </div>

              <div class="col-md-6">

                <% if @opportunity.cost_or_offer_option.to_i == 1 %>
                    <div class="form-group opportunity-value">
                      <% unless @opportunity.opportunity_cost.nil? %>
                          <%= f.label :opportunity_value, 'Indica el valor que cobrarías por hacer este proyecto' %>
                          <h6>
                            (Recuerda que studNet cobra un 10% de comisión sobre este valor)
                          </h6>
                          <%= f.text_field :opportunity_value, class: 'form-control input-width'  %>
                      <% end %>
                    </div>
                <% end %>

                <% if @opportunity.receive_portfolio == true %>
                    <div class="form-group">
                      <% unless @opportunity.receive_portfolio.nil? %>
                          <div class="form-group">
                            <%= f.label :portfolio, 'Por favor adjunta un archivo con ejemplos de tu portafolio' %><br>
                            <%= f.file_field :portfolio, class: 'form-control input-width' %>
                          </div>
                      <% end %>
                    </div>
                <% end %>

              </div>
            </div>

            <!-- Application Form Modal -->
            <div class="row">
              <div class="col-md-12 text-center">

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">
                          Tiempo disponible
                        </h4>
                      </div>
                      <div class="modal-body">
                        <p>
                          Seleccione la disponibilidad de tiempo que tiene para esta oferta, <br>
                          recuerda que la oferta
                          <strong>
                            <%= @opportunity.opportunity_title %>
                          </strong>
                          requiere
                          <strong>
                            <%= opportunity_availability_friendly(@opportunity).downcase %>
                          </strong>
                          .
                        </p>

                        <p>
                          <%= f.fields_for :student, @opportunity.user.student do |s| %>
                              <%= s.select :student_availability, options_for_select(opportunity_select_availability), { prompt: 'Por favor selecciona una opción' }, class: 'form-control input-width' %>
                          <% end %>
                        </p>
                      </div>
                      <div class="modal-footer">
                        <div class="actions">
                          <%= f.submit 'Aplicar', class: 'btn btn-primary btn-studnet-basic', id: 'applyButton', disabled: true %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <!-- ./Application Form Modal -->
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-studnet-basic" data-toggle="modal" data-target="#myModal">
          Aplicar
        </button>
      </div>
    </div>

  </div>
</section>


<script>
  // Functions to disable/enable apply button depending if student's availability matches with the opportunity's availability.
  $(function() {

    function enableButton() {

      $('#application_student_student_availability').change(function(){

        if ( $(this).val() === '<%= @opportunity.availability %>' ) {
          $( "#applyButton" ).prop( "disabled", false );
        } else {
          $( "#applyButton" ).prop( "disabled", true );
        }

      });


    };

    enableButton();

  })

</script>