<section class="devise-wrapper">
  <div class="<%= user_signed_in? && current_user.role_id == User::ROLE_COMPANY ? 'companies-signup-header' : 'people-signup-header' %> margin-bot-20">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>
            Ver aplicaciones
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="studNet-wrapper padding-bot-40">
  <div class="container">

    <div class="row">
      <div class="col-md-12">

        <h2>
          Aplicaciones para
          <%= @opportunity.opportunity_title %>
        </h2>

        <table class="table table-striped table-aligned-middle">
          <thead>
          <tr>
            <th colspan="1"></th>
            <th>
              Nombre(s)
            </th>
            <th>
              Estudiante
            </th>
            <th>
              Carrera
            </th>
            <th>
              Universidad
            </th>
            <th>
              Promedio
            </th>
            <th>
              Nivel
            </th>
            <th>
              Semestre
            </th>
            <th>
              Edad
            </th>
            <th>
              Calificación promedio
            </th>
            <th colspan="3">Acciones</th>
          </tr>
          </thead>

          <tbody>
          <% @applicants.each do |applicant| %>
              <tr class="<%= applicant.application_for_opportunity(@opportunity.id).selected ? 'success' : '' %>">
                <td class="student-avatar-index">
                  <% unless applicant.student.avatar.file.nil? %>
                      <%= image_tag aws_url(applicant.student.avatar), class: 'img-circle' %>
                  <% end %>
                </td>
                <td>
                  <%= applicant.first_name %>
                </td>
                <td>
                  <%= type_of_student_select_friendly(applicant) %>
                </td>
                <td>
                  <% if applicant.student.major_id.nil? %>
                      No disponible
                  <% else %>
                      <%= applicant.student.definitive_major %>
                  <% end %>
                </td>
                <td>
                  <% if applicant.student.university_id.nil? %>
                      No disponible
                  <% else %>
                      <%= applicant.student.definitive_university  %>
                  <% end %>
                </td>
                <td>
                  <%= "#{applicant.student.gpa} / #{applicant.student.gpa_max}" %>
                </td>
                <td>
                  <% if applicant.student.ed_level_id.nil? %>
                      No disponible
                  <% else %>
                      <%= applicant.student.education_level.level_name %>
                  <% end %>
                </td>
                <td>
                  <% if applicant.student.last_semester.nil? %>
                      No disponible
                  <% else %>
                      <%= applicant.student.last_semester %>
                  <% end %>
                </td>
                <td>
                  <%= "#{Time.now.year - applicant.date_of_birth.year} años" %>
                </td>
                <td>
                  <%= average_rating applicant %>
                </td>

                <% if user_signed_in? && (current_user.role_id == User::ROLE_COMPANY || current_user.role_id == User::ROLE_PERSON) %>
                    <td><%= link_to 'Ver', student_path(applicant.student, opportunity: params[:id]), class: 'btn btn-studnet-details' %></td>

                    <% unless applicant.application_for_opportunity(@opportunity.id).selected %>
                        <td><%= link_to 'Contactar', acquire_information_opportunity_path(@opportunity, applicant_id: applicant.id), id: 'applicantsGetInfo', class: 'btn btn-studnet-details', method: :post %></td>
                    <% end %>
                <% end %>

                <% if administrator_signed_in? %>
                    <% if applicant.application_for_opportunity(@opportunity.id).selected %>
                        <td>
                          <button type="button" class="btn btn-studnet-details" data-toggle="modal" data-target="#<%= "application-#{applicant.application_for_opportunity(@opportunity.id).id}" %>">Calificar</button>
                        </td>
                        <%= render partial: 'opportunities/rating_modal', locals: { application: applicant.application_for_opportunity(@opportunity.id), applicant: applicant } %>
                    <% else %>
                        <td><%= link_to 'Marcar como seleccionado', mark_as_selected_user_path(applicant, opportunity: params[:id]), data: { confirm: '¿Está seguro?' }, class: 'btn btn-studnet-details', method: :post %></td>
                    <% end %>
                <% end %>

              </tr>
          <% end %>
          </tbody>
        </table>

      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <% if user_signed_in? && (current_user.role_id == User::ROLE_COMPANY || current_user.role_id == User::ROLE_PERSON) %>
            <%= link_to 'Crear oferta', new_opportunity_path, class: 'btn btn-primary btn-studnet-basic' %>
        <% end %>
      </div>
    </div>

  </div>
</section>