<section class="devise-wrapper">
  <div class="<%= current_user.role_id == 3 ? 'companies-signup-header' : 'people-signup-header' %> margin-bot-20">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>
            Ver aplicaciones
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="studNet-wrapper padding-bot-40">
  <div class="container">

    <div class="row">
      <div class="col-md-12">

        <h2>
          Aplicaciones para
          <%= @opportunity.opportunity_title %>
        </h2>

        <table class="table table-striped table-aligned-middle">
          <thead>
          <tr>
            <th colspan="1"></th>
            <th>
              Nombre(s)
            </th>
            <th>
              Estudiante
            </th>
            <th>
              Carrera
            </th>
            <th>
              Universidad
            </th>
            <th>
              Promedio
            </th>
            <th>
              Nivel
            </th>
            <th>
              Semestre
            </th>
            <th>
              Edad
            </th>
            <th>
              Calificación
            </th>
            <th colspan="2">Acciones</th>
          </tr>
          </thead>

          <tbody>
          <% @applicants.each do |applicant| %>
              <tr>
                <td class="student-avatar-index">
                  <% unless applicant.student.avatar.file.nil? %>
                      <%= image_tag aws_url(applicant.student.avatar), class: 'img-circle' %>
                  <% end %>
                </td>
                <td>
                  <%= applicant.first_name %>
                </td>
                <td>
                  <%= type_of_student_select_friendly(applicant) %>
                </td>
                <td>
                  <% if applicant.student.major_id.nil? %>
                      No disponible
                  <% else %>
                      <%= applicant.student.definitive_major %>
                  <% end %>
                </td>
                <td>
                  <% if applicant.student.university_id.nil? %>
                      No disponible
                  <% else %>
                      <%= applicant.student.definitive_university  %>
                  <% end %>
                </td>
                <td>
                  <%= "#{applicant.student.gpa} / #{applicant.student.gpa_max}" %>
                </td>
                <td>
                  <% if applicant.student.ed_level_id.nil? %>
                      No disponible
                  <% else %>
                      <%= applicant.student.education_level.level_name %>
                  <% end %>
                </td>
                <td>
                  <% if applicant.student.last_semester.nil? %>
                      No disponible
                  <% else %>
                      <%= applicant.student.last_semester %>
                  <% end %>
                </td>
                <td>
                  <%= "#{Time.now.year - applicant.date_of_birth.year} años" %>
                </td>
                <td>
                  No disponible
                  <!-- TODO: Opportunities/applicants - Make rating system,pending for dev -->
                </td>

                <!--
                <td>
                  <% if applicant.student.gpa.nil? %>
                      No disponible
                  <% else %>
                      <%= "#{applicant.student.gpa}/#{applicant.student.gpa_max}" %>
                  <% end %>
                </td>
                -->

                <% if user_signed_in? && (current_user.role_id == 3 || current_user.role_id == 4) %>
                    <td><%= link_to 'Ver', student_path(applicant, opportunity: params[:id]), class: 'btn btn-studnet-details' %></td>

                    <!-- TODO: Opportunities/applicants - only Company/Person can view complete info from student, once they have payed. Pending for dev once it has been clarified with the client -->
                    <td><%= link_to 'Adquirir información', '#', id: 'applicantsGetInfo' %></td>
                <% end %>

              </tr>
          <% end %>
          </tbody>
        </table>

      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <% if user_signed_in? && (current_user.role_id == 3 || current_user.role_id == 4) %>
            <%= link_to 'Crear oferta', new_opportunity_path, class: 'btn btn-primary btn-studnet-basic' %>
        <% end %>
      </div>
    </div>

  </div>
</section>