<!-- <p id="notice"><%= notice %></p> -->

<section class="studNet-wrapper">
  <div class="container">

    <!-- List of opportunities that apply to me -->
    <div class="row">
      <div class="col-md-12">

        <h1>
          Posibles ofertas para mi
        </h1>

        <table class="table table-striped">
          <thead>
          <tr>
            <th>
              Empresa oferente
            </th>
            <th>
              Nombre de la oferta
            </th>
            <th>
              Fecha de publicaci贸n
            </th>
            <th>
              Duraci贸n
            </th>
            <th>
              Tiempo requerido
            </th>
            <th>
              Salario / Valor
            </th>
            <th colspan="5">Acciones</th>
          </tr>
          </thead>

          <tbody>
          <% @opportunities.each do |opportunity| %>
              <% if opportunity.approved_state == true %>
                  <tr>
                    <td>
                      <% if opportunity.user.company.nil? %>
                          <%= "#{opportunity.user.first_name} #{opportunity.user.last_name}"  %>
                      <% else %>
                          <%= opportunity.user.company.company_name  %>
                      <% end %>
                    </td>
                    <td>
                      <%= opportunity.opportunity_title %>
                    </td>
                    <td>
                      <%= opportunity.created_at.strftime('%d/%m/%Y') %>
                    </td>
                    <td>
                      <%= opportunity.opportunity_duration %>
                    </td>
                    <td>
                      <%= opportunity_availability_friendly(opportunity) %>
                    </td>
                    <td>
                      <%# TODO: Make conditional to show opportunity_cost if there is one, if company selected 'student can make an offer' then show 'Permite ofertar'  %>
                      <% if opportunity.opportunity_cost.nil? %>
                          <%= 'Se permite ofertar' %>
                      <% else %>
                          <%= opportunity.opportunity_cost %>
                      <% end %>
                    </td>
                    <td><%= link_to 'Detalles', opportunity_path(opportunity) %></td>

                  </tr>
              <% end %>
          <% end %>
          </tbody>
        </table>

      </div>
    </div>
    <!-- ./List of opportunities that apply to me -->

    <!-- Companiy/Person Actions -->
    <% if @user_role.role_id == 3 || @user_role.role_id == 4 %>
        <div class="row">
          <div class="col-md-12 text-center">
            <% #TODO: Opportunities/show - cancan | only Company/Person can create a new opportunity %>
            <%= link_to 'Crear oferta', new_opportunity_path, class: 'btn btn-primary btn-studnet' %>
          </div>
        </div>
    <% elsif @user_role.role_id == 2 %>
        <div class="row">
          <div class="col-md-12 text-center">
            <% #TODO: Opportunities/show - cancan | only Company/Person can create a new opportunity %>
            <%= link_to 'Ver mis ofertas', my_opportunities_opportunities_path, class: 'btn btn-primary btn-studnet' %>
          </div>
        </div>
    <% end %>
    <!-- ./Companiy/Person Actions -->

    <!-- List of all opportunities -->
    <div class="row">
      <div class="col-md-12">

        <h1>
          Otras ofertas en studNet
        </h1>

        <table class="table table-striped">
          <thead>
          <tr>
            <th>
              Empresa oferente
            </th>
            <th>
              Nombre de la oferta
            </th>
            <th>
              Fecha de publicaci贸n
            </th>
            <th>
              Duraci贸n
            </th>
            <th>
              Tiempo requerido
            </th>
            <th>
              Salario / Valor
            </th>
            <th colspan="5">Acciones</th>
          </tr>
          </thead>

          <tbody>
          <% @all_opportunities.each do |opportunity| %>
              <% if opportunity.approved_state == true %>
                  <tr>
                    <td>
                      <% if opportunity.user.company.nil? %>
                          <%= "#{opportunity.user.first_name} #{opportunity.user.last_name}"  %>
                      <% else %>
                          <%= opportunity.user.company.company_name  %>
                      <% end %>
                    </td>
                    <td>
                      <%= opportunity.opportunity_title %>
                    </td>
                    <td>
                      <%= opportunity.created_at.strftime('%d/%m/%Y') %>
                    </td>
                    <td>
                      <%= opportunity.opportunity_duration %>
                    </td>
                    <td>
                      <%= opportunity_availability_friendly(opportunity) %>
                    </td>
                    <td>
                      <%# TODO: Make conditional to show opportunity_cost if there is one, if company selected 'student can make an offer' then show 'Permite ofertar'  %>
                      <% if opportunity.opportunity_cost.nil? %>
                          <%= 'Se permite ofertar' %>
                      <% else %>
                          <%= opportunity.opportunity_cost %>
                      <% end %>
                    </td>
                    <!-- TODO: Opportunities/index - cancan | Student can only view offers that match their Major(s) or that are open for all Majors -->
                    <td><%#= link_to 'Detalles', opportunity_path(opportunity) %></td>
                    <!-- TODO: Opportunities/indexs - make 'Aplicar' work -->
                    <td><%#= link_to 'Aplicar', apply_opportunity_path(opportunity) %></td>

                  </tr>
              <% end %>
          <% end %>
          </tbody>
        </table>

      </div>
    </div>
    <!-- ./List of all opportunities -->

  </div>
</section>