<section class="devise-wrapper">
  <div class="students-signup-header ">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>
            Mis ofertas
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="studNet-wrapper padding-bot-40">
  <div class="container">

    <!-- List of opportunities that apply to me -->
    <div class="row">
      <div class="col-md-12">

        <h1>
          Posibles ofertas para mi
        </h1>

        <table class="table table-striped opportunity-table">
          <thead>
          <tr>
            <th>
              Empresa oferente
            </th>
            <th>
              Tipo de proyecto
            </th>
            <th>
              Nombre de la oferta
            </th>
            <th>
              Fecha de publicaci贸n
            </th>
            <th>
              Duraci贸n
            </th>
            <th>
              Tiempo requerido
            </th>
            <th>
              Salario / Valor
            </th>
            <th colspan="5">Acciones</th>
          </tr>
          </thead>

          <tbody>
          <% @opportunities.each do |opportunity| %>
              <tr>
                <td>
                  <% if opportunity.user.company.nil? %>
                      <%= "#{opportunity.user.first_name} #{opportunity.user.last_name}"  %>
                  <% else %>
                      <%= opportunity.user.company.company_name  %>
                  <% end %>
                </td>
                <td>
                  <%= opportunity_type_friendly(opportunity)  %>
                </td>
                <td>
                  <%= opportunity.opportunity_title %>
                </td>
                <td>
                  <%= opportunity.created_at.strftime('%d/%m/%Y') %>
                </td>
                <td>
                  <% if opportunity.opportunity_duration.nil? ||opportunity.opportunity_duration.blank? %>
                      <%= opportunity_duration_type_friendly(opportunity )%>
                  <% else %>
                      <%= opportunity.opportunity_duration %>
                  <% end %>
                </td>
                <td>
                  <%= opportunity_availability_friendly(opportunity) %>
                </td>
                <td>
                  <%= opportunity_salary_friendly(opportunity) %>
                </td>
                <td><%= link_to 'Detalles', opportunity_path(opportunity), class: 'btn btn-default btn-studnet-details' %></td>

              </tr>
          <% end %>
          </tbody>
        </table>

      </div>
    </div>
    <!-- ./List of opportunities that apply to me -->


    <!-- Companiy/Person Actions -->
    <% if user_signed_in? && (@user_role.role_id == User::ROLE_COMPANY || @user_role.role_id == User::ROLE_PERSON) %>
        <div class="row">
          <div class="col-md-12 text-center">
            <%= link_to 'Crear oferta', new_opportunity_path, class: 'btn btn-primary btn-studnet-basic' %>
          </div>
        </div>
    <% elsif user_signed_in? && @user_role.role_id == User::ROLE_STUDENT %>
        <div class="row">
          <div class="col-md-12 text-center">
            <%= link_to 'Ver mis ofertas', my_opportunities_opportunities_path, class: 'btn btn-primary btn-studnet-basic' %>
          </div>
        </div>
    <% end %>
    <!-- ./Companiy/Person Actions -->


    <!-- List of all opportunities -->
    <div class="row">
      <div class="col-md-12">

        <h1>
          Otras ofertas en studNet
        </h1>

        <table class="table table-striped">
          <thead>
          <tr>
            <th>
              Empresa oferente
            </th>
            <th>
              Tipo de proyecto
            </th>
            <th>
              Nombre de la oferta
            </th>
            <th>
              Fecha de publicaci贸n
            </th>
            <th>
              Duraci贸n
            </th>
            <th>
              Tiempo requerido
            </th>
            <th>
              Salario / Valor
            </th>
            <!--
            <th colspan="5">Acciones</th>
            -->
          </tr>
          </thead>

          <tbody>
          <% @all_opportunities.each do |opportunity| %>
              <tr>
                <td>
                  <% if opportunity.user.company.nil? %>
                      <%= "#{opportunity.user.first_name} #{opportunity.user.last_name}"  %>
                  <% else %>
                      <%= opportunity.user.company.company_name  %>
                  <% end %>
                </td>
                <td>
                  <%= opportunity_type_friendly(opportunity)  %>
                </td>
                <td>
                  <%= opportunity.opportunity_title %>
                </td>
                <td>
                  <%= opportunity.created_at.strftime('%d/%m/%Y') %>
                </td>
                <td>
                  <% if opportunity.opportunity_duration.nil? ||opportunity.opportunity_duration.blank? %>
                      <%= opportunity_duration_type_friendly(opportunity )%>
                  <% else %>
                      <%= opportunity.opportunity_duration %>
                  <% end %>
                </td>
                <td>
                  <%= opportunity_availability_friendly(opportunity) %>
                </td>
                <td>
                  <%= opportunity_salary_friendly(opportunity) %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>

      </div>
    </div>
    <!-- ./List of all opportunities -->

  </div>
</section>