<!-- <p id="notice"><%= notice %></p> -->

<section class="studNet-wrapper">
  <div class="container">

    <% if @user_role.role_id == 3 || @user_role.role_id == 4 %>
        <!-- My Opportunities for Companies/People -->
        <div class="row">
          <div class="col-md-12">

            <h1>
              Mis Ofertas
            </h1>

            <table class="table table-striped">
              <thead>
              <tr>
                <th>
                  ID
                </th>
                <th>
                  Nombre de la oferta
                </th>
                <th>
                  # Aplicaciones
                </th>
                <th>
                  Fecha de publicaci칩n
                </th>
                <th colspan="5">Acciones</th>
              </tr>
              </thead>

              <tbody>
              <% @my_opportunities.each do |opportunity| %>
                  <tr>
                    <td>
                      <%= opportunity.id %>
                    </td>
                    <td>
                      <%= opportunity.opportunity_title %>
                    </td>
                    <td>
                      <%= "#{opportunity.applied_users.count} estudiantes" %>
                    </td>
                    <td>
                      <%= opportunity.created_at.strftime('%d/%m/%Y') %>
                    </td>

                    <td><%= link_to 'Detalles', opportunity_path(opportunity), class: 'btn btn-default btn-studnet' %></td>
                    <td><%= link_to 'Aplicantes', applicants_opportunity_path(opportunity), class: 'btn btn-info btn-studnet' %></td>
                    <td><%= link_to 'Editar', edit_opportunity_path(opportunity), class: 'btn btn-success btn-studnet' %></td>

                    <!-- TODO: Opportunities/my_opportunities - Pending for dev. Close opportunity == Unpublish/Unapprove Opportunity -->
                    <td><%= link_to 'Cerrar', '#', class: 'btn btn-danger btn-studnet' %></td>

                  </tr>
              <% end %>
              </tbody>
            </table>

          </div>
        </div>
        <!-- ./My Opportunities for Companies/People -->
    <% elsif @user_role.role_id == 2 %>
        <!-- My Opportunities for Students -->
        <div class="row">
          <div class="col-md-12">

            <h1>
              Mis Ofertas
            </h1>

            <table class="table table-striped">
              <thead>
              <tr>
                <th>
                  Empresa oferente
                </th>
                <th>
                  Nombre de la oferta
                </th>
                <th>
                  Fecha de publicaci칩n
                </th>
                <th>
                  Duraci칩n
                </th>
                <th>
                  Tiempo requerido
                </th>
                <th>
                  Salario / Valor
                </th>
                <th colspan="5">Acciones</th>
              </tr>
              </thead>

              <tbody>
              <% @student_opportunities.each do |opportunity| %>
                  <tr>
                    <td>
                      <% if opportunity.user.company.nil? %>
                          <%= "#{opportunity.user.first_name} #{opportunity.user.last_name}"  %>
                      <% else %>
                          <%= opportunity.user.company.company_name  %>
                      <% end %>
                    </td>
                    <td>
                      <%= opportunity.opportunity_title %>
                    </td>
                    <td>
                      <%= opportunity.created_at.strftime('%d/%m/%Y') %>
                    </td>
                    <td>
                      <%= opportunity.opportunity_duration %>
                    </td>
                    <td>
                      <%= opportunity_availability_friendly(opportunity) %>
                    </td>
                    <td>
                      <%# TODO: Make conditional to show opportunity_cost if there is one, if company selected 'student can make an offer' then show 'Permite ofertar'  %>
                      <% if opportunity.opportunity_cost.nil? %>
                          <%= 'Se permite ofertar' %>
                      <% else %>
                          <%= opportunity.opportunity_cost %>
                      <% end %>
                    </td>
                    <td><%= link_to 'Detalles', opportunity, class: 'btn btn-info btn-studnet' %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>

          </div>
        </div>
        <!-- ./My Opportunities for Students -->
    <% end %>

    <!-- My Opportunities Actions -->
    <% if @user_role.role_id == 3 || @user_role.role_id == 4 %>
        <div class="row">
          <div class="col-md-12 text-center">
            <%= link_to 'Crear oferta', new_opportunity_path, class: 'btn btn-primary btn-studnet' %>
          </div>
        </div>
    <% elsif @user_role.role_id == 2 %>
        <div class="row">
          <div class="col-md-12 text-center">
            <%= link_to 'Ver m치s ofertas', opportunities_path, class: 'btn btn-primary btn-studnet' %>
          </div>
        </div>
    <% end %>
    <!-- ./My Opportunities Actions -->
  </div>
</section>