<!-- <p id="notice"><%= notice %></p> -->

<section class="studNet-wrapper student-tab-wrapper opportunity-wrapper">
  <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-offset-1 student-tab-content ">

        <h1 class="text-center">
          Detalles de
          <%= @opportunity.opportunity_title %>
          <br>
        </h1>

        <div class="row">
          <div class="col-md-6">

            <div class="row">
              <div class="col-md-12">
                <p>
                  Tipo de oferta:
                  <%= opportunity_type_friendly(@opportunity) %>
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <h4>
                  Descripción de las actividades a realizar:
                </h4>
                <p>
                  <strong>
                    <%= @opportunity.activity_description %>
                  </strong>
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <h4>
                  Descripción de las habilidades y conocimientos requeridos:
                </h4>
                <p>
                  <strong>
                    <%= @opportunity.skills_description %>
                  </strong>
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <p>
                  Ciudad
                  <%#= TODO: Opportunities/show - Include City where opportunity will take place %>
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <p>
                  Carreras:
                  <%= @opportunity.major.major_name %>
                  <%# TODO: Opportunities/show - multiple majors pending for development %>
                </p>
              </div>
            </div>

          </div>

          <div class="col-md-6">

            <div class="row">
              <div class="col-md-12">
                <p>
                  Fecha de inicio del trabajo:
                  <%= @opportunity.date_ini.strftime('%Y/%m/%d ') %>
                  <!-- TODO: Opportunities/show - Add two checkboxes: 'Indefinido' / 'Lo antes posible'  -->
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <p>
                  Duración del trabajo (en días, semanas o meses):
                  <%= @opportunity.opportunity_duration %>
                  <!-- TODO: Opportunities/show - Add two checkboxes: 'Indefinido'  -->
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <p>
                  Tiempo requerido del estudiante:
                  <%= opportunity_availability_friendly(@opportunity) %>
                  <!-- TODO: Opportunities/show - Must create a new attribute in Student (student_availability) to validate if a student meets the requirements of the opportunity (availability) -->
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <p>
                  Valor: $
                  <%= @opportunity.opportunity_cost %>
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <p>
                  Número de estudiantes que necesitamos:
                  <%= @opportunity.number_of_students %>
                </p>
              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-12 text-center">
            <!-- TODO: Opportunities/show - cancan | Only Student can apply to opportunities -->
            <!-- TODO: Opportunities/show - make it work like twitter follow/unfollow like the one on rails tutorial. Student can only apply once. Or have the button apply once, the next time he clicks apply, he cancels the application to the offer -->

            <% if @user_role.role_id == 2 %>
                <!-- TODO: Opportunities/show - allow User (student) to apply to an offer only once, pending for development -->
                <%= link_to 'Aplicar', application_form_opportunity_path(@opportunity), class: 'btn btn-primary btn-studNet' %>

                <%= link_to 'Ver más ofertas', opportunities_path, class: 'btn btn-primary btn-studNet' %>
            <% elsif @user_role.role_id == 3 || @user_role.role_id == 4 %>
                <!-- TODO: Opportunities/show - cancan | Only Company/Person can edit or archive the opportunities -->
                <%= link_to 'Editar', edit_opportunity_path(@opportunity.id), class: 'btn btn-primary btn-studNet' %>
                <%= link_to 'Archivar', '#',class: 'btn btn-primary btn-studNet' %>
            <% end %>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>



<!--

Pregunta al estudiante:
<%= @opportunity.question_for_student %>
<%# TODO: Opportunities/show - Add tooltip to help understand this question. if answered: show the question on the opportunity view displayed to students %>
<br>

¿Quieres poner un valor para el proyecto o escuchar ofertas de los estudiantes?:
<%= opportunity_cost_or_offer_friendly(@opportunity) %>
<br>

¿Quieres recibir el portafolio de los estudiantes que apliquen a tu oferta?:
<%= @opportunity.receive_portfolio %>
<br>

-->