<!-- <p id="notice"><%= notice %></p> -->

<section class="studNet-wrapper student-tab-wrapper opportunity-wrapper">
  <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-offset-1 student-tab-content ">

        <h1 class="text-center">
          Detalles de
          <%= @opportunity.opportunity_title %>
          <br>
        </h1>

        <div class="row">
          <div class="col-md-6">

            <div class="row">
              <div class="col-md-12">
                <p>
                  Tipo de oferta:
                  <%= opportunity_type_friendly(@opportunity) %>
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <h4>
                  Descripción de las actividades a realizar:
                </h4>
                <p>
                  <strong>
                    <%= @opportunity.activity_description %>
                  </strong>
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <h4>
                  Descripción de las habilidades y conocimientos requeridos:
                </h4>
                <p>
                  <strong>
                    <%= @opportunity.skills_description %>
                  </strong>
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <p>
                  Ciudad
                  <%#= TODO: Opportunities/show - Include City where opportunity will take place %>
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <p>
                  Carreras:
                  <%= @opportunity.major.major_name %>
                  <%# TODO: Opportunities/show - multiple majors pending for development %>
                </p>
              </div>
            </div>

          </div>

          <div class="col-md-6">

            <div class="row">
              <div class="col-md-12">
                <p>
                  <% if @opportunity.date_ini_type.to_i == 2 %>
                      Fecha de inicio:
                      <%= @opportunity.date_ini.strftime('%Y/%m/%d ') %>
                  <% else %>
                      Fecha de inicio:
                      <%= opportunity_date_ini_type_friendly(@opportunity) %>
                  <% end %>
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <p>
                  <% if @opportunity.opportunity_duration_type.to_i == 1 %>
                      Duración del trabajo (en días, semanas o meses):
                      <%= @opportunity.opportunity_duration %>
                  <% else %>
                      Duración del trabajo:
                      <%= opportunity_duration_type_friendly(@opportunity) %>
                  <% end %>
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <p>
                  Tiempo requerido del estudiante:
                  <%= opportunity_availability_friendly(@opportunity) %>
                </p>
              </div>
            </div>

            <% if @opportunity.opportunity_type.to_i == 0 %>
                <div class="row">
                  <div class="col-md-12">
                    <p>
                      <% if @opportunity.cost_or_offer_option.to_i == 0 %>
                          Valor: $
                          <%= @opportunity.opportunity_cost %>
                      <% else %>
                          Valor: <%= opportunity_cost_or_offer_friendly(@opportunity) %>
                      <% end %>
                    </p>
                  </div>
                </div>
            <% end %>

            <div class="row">
              <div class="col-md-12">
                <p>
                  Número de estudiantes que necesitamos:
                  <%= @opportunity.number_of_students %>
                </p>
              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-12 text-center">
            <% unless administrator_signed_in?  %>
                <% if @user_role.role_id == 2 %>
                    <!-- TODO: Opportunities/show - make it work like twitter follow/unfollow like the one on rails tutorial. Student can only apply once. Or have the button apply once, the next time he clicks apply, he cancels the application to the offer -->
                    <!-- TODO: Opportunities/show - allow User (student) to apply to an offer only once, pending for development -->
                    <%= link_to 'Aplicar', application_form_opportunity_path(@opportunity), class: 'btn btn-primary btn-studNet' %>

                    <%= link_to 'Ver más ofertas', opportunities_path, class: 'btn btn-primary btn-studNet' %>
                <% elsif @user_role.role_id == 3 || @user_role.role_id == 4 %>
                    <%= link_to 'Editar', edit_opportunity_path(@opportunity.id), class: 'btn btn-primary btn-studNet' %>
                    <%= link_to 'Archivar', '#',class: 'btn btn-primary btn-studNet' %>
                <% end %>
            <% end %>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>