<section class="devise-wrapper">
  <div class="students-show-view-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>
            Ver oferta
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="studNet-wrapper student-tab-wrapper opportunity-wrapper padding-bot-40">
  <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-offset-1 student-tab-content <%= opportunities_tab_content_color %>">

        <div class="row">
          <div class="col-md-6 margin-bot-20">
            <h3>
              <%= @opportunity.opportunity_title %>
            </h3>

          </div>
        </div>


        <div class="row">
          <div class="col-md-6">

            <div class="row">
              <div class="col-md-12">
                <p>
                  <strong>
                    Tipo de oferta:
                  </strong>
                  <br>
                  <%= opportunity_type_friendly(@opportunity) %>
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <p>
                  <strong>
                    Actividades a realizar:
                  </strong>
                  <br>
                  <%= @opportunity.activity_description %>
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <p>
                  <strong>
                    Habilidades y conocimientos requeridos:
                  </strong>
                  <br>
                  <%= @opportunity.skills_description %>
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <p>
                  <strong>
                    Carreras:
                  </strong>
                  <br>
                  <%= opportunity_majors_by_comma %>
                </p>
              </div>
            </div>

          </div>

          <div class="col-md-6">

            <div class="row">
              <div class="col-md-12">
                <p>
                  <% if @opportunity.date_ini_type.to_i == 2 %>
                      <strong>
                        Fecha de inicio del trabajo / proyecto:
                      </strong>
                      <br>
                      <%= @opportunity.date_ini.strftime('%Y/%m/%d ') %>
                  <% else %>
                      <strong>
                        Fecha de inicio del trabajo / proyecto:
                      </strong>
                      <br>
                      <%= opportunity_date_ini_type_friendly(@opportunity) %>
                  <% end %>
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <p>
                  <% if @opportunity.opportunity_duration_type.to_i == 1 %>
                      <strong>
                        Duración del trabajo / proyecto:
                      </strong>
                      <br>
                      <%= @opportunity.opportunity_duration %>
                  <% else %>
                      <strong>
                        Duración del trabajo / proyecto:
                      </strong>
                      <br>
                      <%= opportunity_duration_type_friendly(@opportunity) %>
                  <% end %>
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <p>
                  <strong>
                    Tiempo requerido del estudiante:
                  </strong>
                  <br>
                  <%= opportunity_availability_friendly(@opportunity) %>
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <p>
                  <% if @opportunity.cost_or_offer_option == Opportunity::OPTION_FOR_OFFER %>
                      <strong>
                        Salario / valor del proyecto:
                      </strong>
                      <small>(Para proyectos virtuales, recuerda que studNet cobra un 10% más IVA de comisión sobre este valor. Adicionalmente, si el proyecto fue publicado por una empresa, esta podrá retener hasta un 12% sobre este valor por concepto de retención en la fuente y retención de ICA)</small>
                      <br>
                      <%= opportunity_cost_or_offer_friendly(@opportunity) %>
                  <% else %>
                      <strong>
                        Salario / valor del proyecto:
                      </strong>
                      <small>(Para proyectos virtuales, recuerda que studNet cobra un 10% más IVA de comisión sobre este valor. Adicionalmente, si el proyecto fue publicado por una empresa, esta podrá retener hasta un 12% sobre este valor por concepto de retención en la fuente y retención de ICA)</small>
                      <br>
                      <%= @opportunity.opportunity_cost %>
                  <% end %>
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <p>
                  <strong>
                    Número de estudiantes:
                  </strong>
                  <br>
                  <%= @opportunity.number_of_students %>
                </p>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center student-actions-wrapper">
        <% unless administrator_signed_in?  %>
            <% if @user_role.role_id == User::ROLE_STUDENT %>
                <% if @user_role.profile_incomplete? %>
                    <p>Debes completar tu perfil para poder aplicar a la oferta.</p>
                    <%= link_to 'Terminar perfil', edit_user_path(@user_role), class: 'btn btn-primary btn-studnet-basic' %>
                <% else %>
                    <% if @opportunity.student_has_applied?(current_user) %>
                        <%= link_to 'Ya aplicaste a la oferta', my_opportunities_opportunities_path, class: 'btn btn-primary btn-studnet-basic' %>
                    <% else %>
                        <%= link_to 'Aplicar', application_form_opportunity_path(@opportunity), class: 'btn btn-primary btn-studnet-basic' %>
                    <% end %>
                <% end %>

                <%= link_to 'Ver ofertas', opportunities_path, class: 'btn btn-primary btn-studnet-basic' %>
            <% elsif @user_role.role_id == User::ROLE_COMPANY || @user_role.role_id == User::ROLE_PERSON %>
                <%= link_to 'Mis ofertas', my_opportunities_opportunities_path, class: 'btn btn-primary btn-studnet-basic' %>

                <%#= link_to 'Editar', edit_opportunity_path(@opportunity.id), class: 'btn btn-primary btn-studnet-basic' %>

                <%#= link_to 'Archivar', '#',class: 'btn btn-primary btn-studNet' %>
            <% end %>
        <% end %>
      </div>
    </div>

  </div>
</section>