<section class="devise-wrapper">
  <!-- Sign Up Form -->
  <% if params[:studnet].to_i == 2 %>
      <div class="students-signup-header">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p>
                Registrarte como estudiante
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="devise-signup-wrapper students-signup-wrapper">
        <div class="container">

          <div class="row">
            <div class="col-md-12 text-center">
              <p>
                ¿Quieres publicar una oferta? Regístrate como
                <%= link_to 'empresa / persona', new_user_registration_path(studnet: 3) %>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center register-form">
              <%= render 'devise/registrations/form' %>
            </div>
          </div>

        </div>
      </div>
  <% elsif params[:studnet].to_i == 3 %>
      <div class="companies-signup-header">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p>
                Registrarte como empresa / persona
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="devise-signup-wrapper companies-signup-wrapper">
        <div class="container">

          <div class="row">
            <div class="col-md-12 text-center">
              <p>
                ¿Quieres aplicar a una oferta? Regístrate como
                <%= link_to 'estudiante', new_user_registration_path(studnet: 2) %>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center register-form">
              <%= render 'devise/registrations/form' %>
            </div>
          </div>

        </div>
      </div>
  <% elsif params[:studnet].to_i == 4 %>
      <div class="companies-signup-header">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p>
                Registrarte como empresa / persona
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="devise-signup-wrapper people-signup-wrapper">
        <div class="container">

          <div class="row">
            <div class="col-md-12 text-center">
              <p>
                ¿Quieres aplicar a una oferta? Regístrate como
                <%= link_to 'estudiante', new_user_registration_path(studnet: 2) %>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center register-form">
              <%= render 'devise/registrations/form' %>
            </div>
          </div>

        </div>
      </div>
  <% end %>
  <!-- ./Sign Up Form -->

</section>